In [40]:
import re
import numpy as np
import pandas as pd

In [41]:
year = str(2019)

In [42]:
results = pd.read_csv(f'datasets/{year}/cpl-{year}-results.csv')
stats = pd.read_csv('datasets/2019/cpl-2019-stats.csv')

In [289]:
if year == '2019':
    teams_short = ['CFC', 'FCE', 'FFC', 'HFX', 'PFC', 'VFC', 'Y9']
    colours = ['w3-2019-fiesta', 'w3-2019-princess-blue', 'w3-2019-turmeric', 'w3-vivid-blue', 'w3-vivid-reddish-purple', 'w3-2019-biking-red', 'w3-vivid-yellowish-green']
else:
    teams_short = ['AO','CFC', 'FCE', 'FFC', 'HFX', 'PFC', 'VFC', 'Y9']
    colours = ['w3-vivid-red','w3-2019-fiesta', 'w3-2019-princess-blue', 'w3-2019-turmeric', 'w3-vivid-blue', 'w3-vivid-reddish-purple', 'w3-2019-biking-red', 'w3-vivid-yellowish-green']

In [290]:
def get_team_names(data,df,dc):
    db = data
    db = np.sort(db,axis=-1)
    a =[]
    for team in db:
        a.append(team)
    db = a
    db = pd.DataFrame({'team': db, 'short': df,'colour': dc})
    return db

In [291]:
team_ref = get_team_names(results['home'].unique(),teams_short,colours)
team_ref

               team short                    colour
0        Cavalry FC   CFC            w3-2019-fiesta
1       FC Edmonton   FCE     w3-2019-princess-blue
2          Forge FC   FFC          w3-2019-turmeric
3  HFX Wanderers FC   HFX             w3-vivid-blue
4        Pacific FC   PFC   w3-vivid-reddish-purple
5         Valour FC   VFC        w3-2019-biking-red
6          York9 FC    Y9  w3-vivid-yellowish-green

In [46]:
results.head(5)

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
0,I1,0,27,4,1,1,Forge FC,D,York9 FC,D,0,0,4-27-2019 Forge FC D 1-1 D York9 FC,Tim Hortons Field,https://canpl.ca/matchcentre/4ilfbdmlp4zuj7k3c...
1,I2,0,28,4,1,0,Pacific FC,W,HFX Wanderers FC,L,1,0,4-28-2019 Pacific FC W 1-0 L HFX Wanderers FC,Westhills Stadium,https://canpl.ca/matchcentre/4itgc6bq5l5c7iv5k...
2,I3,0,1,5,1,2,Pacific FC,L,Valour FC,W,0,0,5-1-2019 Pacific FC L 1-2 W Valour FC,Westhills Stadium,https://canpl.ca/matchcentre/4j6hzym2ji5zgrm0w...
3,I4,0,4,5,2,1,HFX Wanderers FC,W,Forge FC,L,0,0,5-4-2019 HFX Wanderers FC W 2-1 L Forge FC,Wanderers Grounds,https://canpl.ca/matchcentre/4jopa68wp2k7cntkj...
4,I5,0,4,5,2,1,Cavalry FC,W,York9 FC,L,0,0,5-4-2019 Cavalry FC W 2-1 L York9 FC,ATCO Field,https://canpl.ca/matchcentre/4kj2hnlgvv3ncwouf...

In [47]:
results_old = results.loc[0:93].copy()
results_old.tail(10)

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
84,I85,1,2,10,0,1,FC Edmonton,L,Forge FC,W,0,1,10-2-2019 FC Edmonton L 0-1 W Forge FC,Clarke Stadium,https://canpl.ca/matchcentre/5ja0uunrontjjnbpx...
85,I86,1,2,10,1,1,Pacific FC,D,HFX Wanderers FC,D,0,0,10-2-2019 Pacific FC D 1-1 D HFX Wanderers FC,Westhills Stadium,https://canpl.ca/matchcentre/5k2vyf3lbvxx12td2...
86,I87,1,5,10,3,1,Valour FC,W,FC Edmonton,L,0,0,10-5-2019 Valour FC W 3-1 L FC Edmonton,IG Field,https://canpl.ca/matchcentre/5knlpt5ejz2gvvucp...
87,I88,1,5,10,2,0,Cavalry FC,W,HFX Wanderers FC,L,1,0,10-5-2019 Cavalry FC W 2-0 L HFX Wanderers FC,ATCO Field,https://canpl.ca/matchcentre/5l2yv4eiv12t5oztz...
88,I89,1,6,10,1,0,Forge FC,W,York9 FC,L,1,0,10-6-2019 Forge FC W 1-0 L York9 FC,Tim Hortons Field,https://canpl.ca/matchcentre/5lomje72gq8r3x9xt...
89,I90,1,9,10,1,1,HFX Wanderers FC,D,Pacific FC,D,0,0,10-9-2019 HFX Wanderers FC D 1-1 D Pacific FC,Wanderers Grounds,https://canpl.ca/matchcentre/5m1xy5ksfqgdrzx3g...
90,I91,1,9,10,2,1,Cavalry FC,W,Forge FC,L,0,0,10-9-2019 Cavalry FC W 2-1 L Forge FC,ATCO Field,https://canpl.ca/matchcentre/548tpbwhe2nvkm81p...
91,I92,1,12,10,4,0,York9 FC,W,Forge FC,L,1,0,10-12-2019 York9 FC W 4-0 L Forge FC,York Lions Stadium,https://canpl.ca/matchcentre/5ncl09fzjg81svtrb...
92,I93,1,16,10,1,0,Forge FC,W,Cavalry FC,L,1,0,10-16-2019 Forge FC W 1-0 L Cavalry FC,Tim Hortons Field,https://canpl.ca/matchcentre/5nossz36w45wbtz1z...
93,I94,1,16,10,0,4,Valour FC,L,York9 FC,W,0,1,10-16-2019 Valour FC L 0-4 W York9 FC,IG Field,https://canpl.ca/matchcentre/5oyl3jwgr2padsvpk...

In [146]:
def index_reset(data):
    data = data.reset_index()
    data.pop('index')
    return data

def get_team_results(data,query):
    db = data[data['home'] == query]
    da = data[data['away'] == query]
    db = pd.concat([db,da])
    db = index_reset(db)
    return db

def get_team_brief(data,query):  
    db = get_team_results(data,query)
    cols = ['game','s','csh','csa','combined','venue','links']
    for col in cols:
        db.pop(col)
    db = db.sort_values(by=['m','d'])
    db = index_reset(db)
    db['summary'] = '0'
    for i in range(0,db.shape[0]):
        if db.iloc[i]['home'] == query:
            x = team_ref[team_ref['team'] == db.iloc[i]['away']].reset_index()
            opponent = x.iloc[0]['short']
            outcome = db.iloc[i]['hr'] + ' A'
        else:
            x = team_ref[team_ref['team'] == db.iloc[i]['home']].reset_index()
            opponent = x.iloc[0]['short']
            outcome = db.iloc[i]['ar'] + ' A'
        score = str(db.iloc[i]['hs']) + ' - ' + str(db.iloc[i]['as'])
        db.loc[i,'summary'] = outcome + ' ' + score +  ' ' + opponent
    db['team'] = query
    return db

def get_results_brief(data):
    db = pd.DataFrame()
    for team in team_ref['team']:
        df = get_team_brief(data,team)
        db = pd.concat([db,df])
    db = index_reset(db)
    return db

def get_club_statistics(data,query):
    df = data
    a = []
    cols = df.columns
    for row in range(0,df.shape[0]):
        if df.iloc[row]['home'] == query:
            if df.iloc[row]['hr'] == 'W':
                vals = [1,3,3,1,0,0,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
            if df.iloc[row]['hr'] == 'L':
                vals = [1,0,3,0,1,0,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
            if df.iloc[row]['hr'] == 'D':
                vals = [1,1,3,0,0,1,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
        if df.iloc[row]['away'] == query:
            if df.iloc[row]['ar'] == 'W':
                vals = [1,3,3,1,0,0,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
            if df.iloc[row]['ar'] == 'L':
                vals = [1,0,3,0,1,0,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
            if df.iloc[row]['ar'] == 'D':
                vals = [1,1,3,0,0,1,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
    db= pd.DataFrame(a,columns=['gp','pts','tpp','w','l','d','gf','ga','gfh','gah','gfa','gaa'])
    db = pd.DataFrame(db.sum())
    db = db.T
    return db

def get_standings(data,season):
    db = pd.DataFrame()
    if season == 1:
        data = data[data['s'] <= 1]
    if season == 2:
        data = data[data['s'] > 1]
    teams = data['home'].unique()
    teams = np.sort(teams,axis=-1)
    for team in teams:
        df = get_team_brief(data,team)
        df = get_club_statistics(df,team)
        ppg = round(df['pts']/df['gp'],2)
        gd = df['gf'] - df['ga']
        df.insert(0,'team',team)
        df.insert(4,'ppg',ppg)
        df.insert(8,'gd',gd)
        db = pd.concat([db,df])
    db = db.sort_values(by=['pts','w','gf'],ascending=False)
    db = index_reset(db)
    db = db.reset_index()
    db = db.rename(columns={'index':'rank'})
    db['rank'] = db['rank'] + 1
    return db

In [147]:
team_standings = get_standings(results,1)
team_standings_old = get_standings(results_old,1)

In [148]:
team_standings

,rank,team,gp,pts,tpp,ppg,w,l,d,gd,gf,ga,gfh,gah,gfa,gaa
0,1,Cavalry FC,28,62,84,2.21,19,4,5,32,51,19,26,8,25,11
1,2,Forge FC,28,56,84,2.00,17,6,5,19,45,26,25,10,20,16
2,3,York9 FC,28,34,84,1.21,9,12,7,2,39,37,18,19,21,18
3,4,FC Edmonton,28,32,84,1.14,8,12,8,-6,27,33,15,14,12,19
4,5,Pacific FC,28,31,84,1.11,8,13,7,-11,35,46,22,20,13,26
5,6,Valour FC,28,28,84,1.00,8,16,4,-22,30,52,17,32,13,20
6,7,HFX Wanderers FC,28,28,84,1.00,6,12,10,-14,21,35,13,9,8,26

In [149]:
team_standings_old

,rank,team,gp,pts,tpp,ppg,w,l,d,gd,gf,ga,gfh,gah,gfa,gaa
0,1,Cavalry FC,27,59,81,2.19,18,4,5,30,48,18,23,7,25,11
1,2,Forge FC,28,56,84,2.00,17,6,5,19,45,26,25,10,20,16
2,3,York9 FC,27,34,81,1.26,9,11,7,4,39,35,18,17,21,18
3,4,FC Edmonton,26,29,78,1.12,7,11,8,-6,23,29,12,13,11,16
4,5,Valour FC,27,28,81,1.04,8,15,4,-20,30,50,17,32,13,18
5,6,Pacific FC,26,28,78,1.08,7,12,7,-11,32,43,20,20,12,23
6,7,HFX Wanderers FC,27,25,81,0.93,5,12,10,-16,19,35,13,9,6,26

In [140]:
def compare_standings(db,df):
    a = []
    for team in team_ref['team']:
        rank1 = df[df['team'] == team]
        rank2 = db[db['team'] == team]
        change = rank1.iloc[0]['rank'] - rank2.iloc[0]['rank']
        a.append([team,change])
    db = pd.DataFrame(a)
    db = pd.DataFrame({'team': db.iloc[:][0], 'change': db.iloc[:][1]})
    db = db.sort_values(by=['change'],ascending=False)
    db = index_reset(db)
    return db

In [141]:
compare_standings_test = compare_standings(team_standings,team_standings_old)

In [57]:
compare_standings_test

               team  change
0        Pacific FC       1
1        Cavalry FC       0
2       FC Edmonton       0
3          Forge FC       0
4  HFX Wanderers FC       0
5          York9 FC       0
6         Valour FC      -1

In [271]:
def clean_team_game(data,db,check):
    if check == 0:
        df = data.iloc[0]['team']
    else:
        df = data.iloc[-1]['team']
    df = db[(db['home'] == df) | (db['away'] == df)]
    db = index_reset(df)
    db = pd.DataFrame(db.iloc[0][['home','hs','away','as']])
    db = db.T
    return db

def get_short_name(data):
    for team in team_ref['team']:
        name = team_ref[team_ref['team'] == team]
        if data.iloc[0]['home'] == team:
            data['home'] = name.iloc[0]['short']
        if data.iloc[0]['away'] == team:
            data['away'] = name.iloc[0]['short']
    return data

def get_long_name(string):
    for short in team_ref['short']:
        row = team_ref[team_ref['short'] == short]
        if string == short:
            string = row.iloc[0]['team']
    return string

def get_weeks_results(data,standings):
    df = data
    month = df.iloc[-1]['m']
    week = df.iloc[-1]['d']
    db = df[df['m'] == month]
    db = db[db['d'] >= week - 7]
    db = db.sort_values(by=['d'],ascending=False)
    goals = db['hs'].sum() + db['as'].sum()
    max_home_win = db[db['hs'] == db['hs'].max()]
    big_win = max_home_win[['home','hs','away','as']]
    big_win = index_reset(big_win)
    big_win = get_short_name(big_win)
    top_team = clean_team_game(standings,db,0)
    top_team = get_short_name(top_team)
    low_team = clean_team_game(standings,db,1)
    low_team = get_short_name(low_team)
    return db,goals,big_win,top_team, low_team

In [132]:
game_week, goals, big_win, top_result, low_result = get_weeks_results(results[results['s'] <= 1],team_standings)
game_week

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
95,I96,1,19,10,0,2,York9 FC,L,HFX Wanderers FC,W,0,1,10-19-2019 York9 FC L 0-2 W HFX Wanderers FC,York Lions Stadium,https://canpl.ca/matchcentre/5opkqc01qgmjdcbho...
96,I97,1,19,10,3,1,Cavalry FC,W,FC Edmonton,L,0,0,10-19-2019 Cavalry FC W 3-1 L FC Edmonton,ATCO Field,https://canpl.ca/matchcentre/5nw6ub2q95ptd6n71...
97,I98,1,19,10,2,0,Pacific FC,W,Valour FC,L,1,0,10-19-2019 Pacific FC W 2-0 L Valour FC,Westhills Stadium,https://canpl.ca/matchcentre/5opkqc01qgmjdcbho...
92,I93,1,16,10,1,0,Forge FC,W,Cavalry FC,L,1,0,10-16-2019 Forge FC W 1-0 L Cavalry FC,Tim Hortons Field,https://canpl.ca/matchcentre/5nossz36w45wbtz1z...
93,I94,1,16,10,0,4,Valour FC,L,York9 FC,W,0,1,10-16-2019 Valour FC L 0-4 W York9 FC,IG Field,https://canpl.ca/matchcentre/5oyl3jwgr2padsvpk...
94,I95,1,16,10,3,1,FC Edmonton,W,Pacific FC,L,0,0,10-16-2019 FC Edmonton W 3-1 L Pacific FC,Clarke Stadium,https://canpl.ca/matchcentre/5nw6ub2q95ptd6n71...
91,I92,1,12,10,4,0,York9 FC,W,Forge FC,L,1,0,10-12-2019 York9 FC W 4-0 L Forge FC,York Lions Stadium,https://canpl.ca/matchcentre/5ncl09fzjg81svtrb...

In [60]:
big_win

  home  hs away  as
0   Y9   4  FFC   0

In [61]:
top_result

  home hs away as
0  CFC  3  FCE  1

In [62]:
low_result

  home hs away as
0   Y9  0  HFX  2

In [63]:
goals

21

In [64]:
compare_standings_test.iloc[0]['team']

'Pacific FC'

In [65]:
compare_standings_test.iloc[-1]['team']

'Valour FC'

In [66]:
team_standings.iloc[0]['team']

'Cavalry FC'

In [67]:
championship = get_standings(results,2)
#championship = championship[championship['gp'] > 1]
championship

,rank,team,gp,pts,tpp,ppg,w,l,d,gf,ga,gd,gfh,gah,gfa,gaa
0,0,Forge FC,2,6,6,3.0,2,0,0,2,0,2,1,0,1,0
1,1,Cavalry FC,2,0,6,0.0,0,2,0,0,2,-2,0,1,0,1

In [68]:
championship.to_csv(f'datasets/{year}/cpl-{year}-championship.csv',index=False)

In [69]:
team_standings.to_csv(f'datasets/{year}/cpl-{year}-team_standings.csv',index=False)

In [70]:
results_brief = get_results_brief(results)

In [71]:
results_brief.head(5)

,d,m,hs,as,home,hr,away,ar,summary,team
0,4,5,2,1,Cavalry FC,W,York9 FC,L,W A 2 - 1 Y9,Cavalry FC
1,8,5,1,0,Cavalry FC,W,Valour FC,L,W A 1 - 0 VFC,Cavalry FC
2,12,5,1,2,Forge FC,L,Cavalry FC,W,W A 1 - 2 FFC,Cavalry FC
3,18,5,1,0,Cavalry FC,W,FC Edmonton,L,W A 1 - 0 FCE,Cavalry FC
4,25,5,2,0,Cavalry FC,W,HFX Wanderers FC,L,W A 2 - 0 HFX,Cavalry FC

In [73]:
results_brief.to_csv(f'datasets/{year}/cpl-{year}-results_brief.csv',index=False)

In [74]:
stats.head(5)

,game,team,position,number,name,first,last,minutes,touches,passes,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,clean sheets
0,I1,Forge FC,m,1,Alexander Achinioti-Jnsson,Alexander,Achinioti-Jnsson,77.0,47.0,41.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,I1,Forge FC,d,16,Bertrand Owundi,Bertrand,Owundi,77.0,69.0,56.0,...,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,I1,Forge FC,f,13,Christopher Nanco,Christopher,Nanco,56.0,42.0,27.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,I1,Forge FC,d,22,Dominic Samuel,Dominic,Samuel,90.0,59.0,48.0,...,5.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,I1,Forge FC,m,6,Elimane Ciss,Elimane,Ciss,90.0,75.0,61.0,...,1.0,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [75]:
stats.describe()

,number,minutes,touches,passes,pass accuracy,crosses,cross accuracy,assists,chances,goals,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,clean sheets
count,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,...,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000,2735.000000
mean,13.829250,71.540768,44.576965,30.244241,0.736570,1.116271,0.093119,0.060695,0.628154,0.087751,...,1.210238,0.790128,0.112249,0.006216,0.938574,0.995978,0.318099,0.227422,0.036563,0.019744
std,11.355872,28.545983,23.277512,18.645196,0.233204,1.904354,0.235873,0.246352,0.989120,0.311297,...,1.859761,1.131050,0.315730,0.078609,1.119698,1.125445,1.295603,0.956352,0.251072,0.139145
min,1.000000,1.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,61.000000,28.000000,16.000000,0.670000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,12.000000,90.000000,45.000000,29.000000,0.780000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,19.000000,90.000000,61.000000,42.000000,0.850000,2.000000,0.000000,0.000000,1.000000,0.000000,...,2.000000,1.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
max,92.000000,90.000000,118.000000,112.000000,1.000000,15.000000,1.000000,2.000000,7.000000,3.000000,...,11.000000,7.000000,1.000000,1.000000,6.000000,7.000000,13.000000,10.000000,4.000000,1.000000

In [82]:
def get_team_stats(data,query):
    db = data[data['team'] == query]
    names = db['name'].unique()
    information = data.copy()
    db.pop('number')
    db = db.groupby(['name']).sum()
    db.insert(0,'last','empty')
    db.insert(0,'first','empty')
    db.insert(0,'position','empty')
    db.insert(0,'number',0)
    #db.insert(0,'team',team)
    i = 0
    for name in names:
        player = information[information['name'] == name].head(1)
        db.at[name,'first'] = player.iloc[0]['first']
        db.at[name,'last'] = player.iloc[0]['last']
        db.at[name,'number'] = int(player.iloc[0]['number'])
        db.at[name,'position'] = player.iloc[0]['position']
        db.at[name,'pass accuracy'] = player.iloc[0]['pass accuracy'].mean()
        db.at[name,'cross accuracy'] = player.iloc[0]['cross accuracy'].mean()
    db = db.reset_index()
    return db

def get_stats_all(data):
    db = pd.DataFrame()
    for team in team_ref['team']:
        df = get_team_stats(data,team)
        df.insert(0,'team',team)
        db = pd.concat([db,df])
    db = index_reset(db)
    return db

In [83]:
team_stats = get_stats_all(stats)#,query)

In [285]:
team_stats

,team,name,number,position,first,last,minutes,touches,passes,pass accuracy,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,clean sheets
0,Cavalry FC,Aribim Pepple,24,f,Aribim,Pepple,60.0,21.0,9.0,1.00,...,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0
1,Cavalry FC,Carlos Patio,20,m,Carlos,Patio,320.0,238.0,122.0,0.88,...,1.0,5.0,0.0,0.0,13.0,12.0,0.0,0.0,0.0,0.0
2,Cavalry FC,Dean Northover,12,d,Dean,Northover,609.0,478.0,255.0,0.67,...,10.0,15.0,2.0,1.0,14.0,13.0,0.0,0.0,0.0,0.0
3,Cavalry FC,Dominick Zator,4,d,Dominick,Zator,2335.0,1866.0,1402.0,0.83,...,75.0,51.0,0.0,0.0,19.0,15.0,0.0,0.0,0.0,0.0
4,Cavalry FC,Dominique Malonga,19,f,Dominique,Malonga,1871.0,760.0,489.0,0.80,...,12.0,2.0,1.0,0.0,31.0,8.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,York9 FC,Ryan Telfer,18,m,Ryan,Telfer,2216.0,1533.0,832.0,0.60,...,8.0,23.0,2.0,0.0,45.0,25.0,0.0,0.0,0.0,0.0
160,York9 FC,Simon Karlsson Adjei,12,f,Simon,Karlsson Adjei,1422.0,575.0,341.0,0.88,...,6.0,2.0,0.0,0.0,18.0,18.0,0.0,0.0,0.0,0.0
161,York9 FC,Stefan Lamanna,21,f,Stefan,Lamanna,77.0,55.0,31.0,0.86,...,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0
162,York9 FC,Steven Furlano,77,d,Steven,Furlano,517.0,325.0,225.0,0.85,...,6.0,10.0,4.0,0.0,4.0,15.0,0.0,0.0,0.0,0.0
163,York9 FC,Wataru Murofushi,23,m,Wataru,Murofushi,1718.0,1318.0,1062.0,0.79,...,2.0,18.0,3.0,0.0,34.0,30.0,0.0,0.0,0.0,0.0

In [85]:
team_stats.to_csv(f'datasets/{year}/cpl-{year}-stats_combined.csv',index=False)

In [157]:
# get associated information for players league wide and calculate an overall score for each position
def get_evaluation(db,df):
    names = db.name.unique() # grab the list of names at the specified position
    eval_ = db.describe().T # get the evalution scores
    checks = db.columns[3:] # slice away the first three columns (name,number,postion) not needed
    db['overall'] = 0.0 # create the final column overall
    db = db.set_index('name') # set the index to the player name to search for a specific player
    for name in names: # iterate through the names in the lisst
        player = df[df['name'] == name].head(1) # get the players details
        a = [] # create an empty array to store the scores
        for check in checks: # iterate through the columns of remaining data
            result = player.iloc[0][check] / eval_['max'][check] # calculate the score for the value found value/max
            a.append(result) # append the result into the list
            overall = round(sum(a) / len(checks),2) #calculate the final score sum(list) / num of checks
            db.at[name,'overall'] = overall # assign the value as the overall score
    db = db.reset_index() # reset the index, making the name column a column again
    db = db.sort_values(by=['overall'],ascending=False) # sort using overall, descending
    return db

def top_goalscorers(data):
    df = data.copy()
    cols = ['team','name','number','minutes','goals']
    db = df[cols]
    db = db.sort_values(by=['goals'],ascending=False)
    db = db.reset_index()
    db.pop('index')
    team = db.pop('team')
    db.insert(0,'team',team)
    db = db[db['goals'] >= 1]
    return db

def top_assists(data):
    df = data.copy()
    cols = ['team','name','number','minutes','assists']
    db = df[cols]
    db = get_evaluation(db,df)
    db = db.sort_values(by=['assists'],ascending=False)
    db = db.reset_index()
    db.pop('index')
    team = db.pop('team')
    db.insert(0,'team',team)
    db = db[db['assists'] >= 1]
    return db

def top_forwards(data): # get the forwards in the league
    player_information = data.copy() # load player information
    cols = ['team','name','number','minutes','goals','chances','assists','shots','shots on target','passes','crosses','duels','tackles']
    df = player_information[player_information['position'] == 'f'] # get the forwards where position = f
    db = df[cols] # select specific columns associated with the evaluation
    db = get_evaluation(db,df) 
    db = index_reset(db)
    names = db.name.unique() # get the names of the players who fit the criteria
    db = db.set_index('name') # set the index to the name column to make the search possible
    for name in names:
        player = df[df['name'] == name].head(1) # forwards main purpose is to score goals
        '''if (player.iloc[0]['goals'] <= 2.0 and player.iloc[0]['minutes'] >= 1000.0): # if player scores less than 2 & has minutes greater than 1000
            db.at[name,'overall'] = db.at[name,'overall'] - 0.2
        if player.iloc[0]['goals'] >= 8.0: # reward forwards scoring greater than 8 goals
            db.at[name,'overall'] = db.at[name,'overall'] + 0.1'''
    db = db.sort_values(by=['overall'],ascending=False)
    db = db.reset_index()
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

def top_midfielders(data): # get the midfielders in the league
    player_information = data.copy()
    cols = ['team','name','number','minutes','goals','assists','touches','passes','pass accuracy','crosses','cross accuracy','chances','duels','tackles']
    df = player_information[player_information['position'] == 'm'] # get the midfields where position = m
    db = df[cols]
    db = get_evaluation(db,df)
    db = index_reset(db)
    names = db.name.unique()
    db = db.set_index('name')
    for name in names:
        player = df[df['name'] == name].head(1)
        '''if player.iloc[0]['goals'] <= 2.0:
            db.at[name,'overall'] = db.at[name,'overall'] - 0.2
        if player.iloc[0]['goals'] >= 8.0:
            db.at[name,'overall'] = db.at[name,'overall'] + 0.1'''
    db = db.sort_values(by=['overall'],ascending=False)
    db = db.reset_index()
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

def top_defenders(data):  # get the defenders in the league
    player_information = data.copy()
    cols = ['team','name','number','minutes','tackles','tackles won','clearances','interceptions','duels','duels won']
    df = player_information[player_information['position'] == 'd'] # get the defenders where position = d
    db = df[cols]
    db = get_evaluation(db,df)
    db = index_reset(db)
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

def top_keepers(data):  # get the keepers in the league
    player_information = data.copy()
    cols = ['team','name','number','minutes','clean sheets','saves','shots faced','claimed crosses']
    df = player_information[player_information['position'] == 'g'] # get the goalkeepers where position = g
    db = df[cols]
    db = get_evaluation(db,df)
    db = index_reset(db)
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

def top_offenders(data):  # get the offences handed out in the league
    player_information = data.copy()
    cols = ['team','name','number','minutes','yellow','red','fouls conceded']
    df = player_information
    db = df[cols]
    db = get_evaluation(db,df)
    db = db.sort_values(by=['red','yellow'],ascending=False)
    db = db.reset_index()
    db.pop('index')
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

In [158]:
rated_goalscorers = top_goalscorers(team_stats)
rated_assists = top_assists(team_stats)
rated_assists.head(10)

/home/todd/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         team              name  number  minutes  assists  overall
0    Forge FC       Kyle Bekker       3   2354.0      5.0     0.97
1  Pacific FC          Ben Fisk      21   1662.0      5.0     0.83
2  Pacific FC       Blake Smith       4   2004.0      5.0     0.90
3   Valour FC  Michael Petrasso       9   1301.0      5.0     0.76
4    Forge FC       Kwame Awuah       2   1885.0      5.0     0.87
5    Forge FC    Tristan Borges       4   1884.0      5.0     0.87
6    York9 FC       Morey Doner       3   2250.0      4.0     0.85
7    York9 FC       Kyle Porter      19   1916.0      4.0     0.78
8    York9 FC   Diyaeddine Abzi      20   1814.0      4.0     0.76
9  Cavalry FC    Julian Bscher       8   1678.0      4.0     0.73

In [156]:
rated_goalscorers.head(10)

               team                  name  number  minutes  goals
0          Forge FC        Tristan Borges       4   1884.0   13.0
1        Cavalry FC     Dominique Malonga      19   1871.0   11.0
2        Pacific FC       Terran Campbell      14   2334.0   11.0
3       FC Edmonton         Easton Ongaro      19   1167.0   10.0
4          York9 FC        Rodrigo Gattas      22   1958.0    9.0
5          York9 FC           Ryan Telfer      18   2216.0    8.0
6        Cavalry FC        Oliver Minatel       7   1450.0    7.0
7         Valour FC          Marco Bustos      22   2249.0    7.0
8          York9 FC  Simon Karlsson Adjei      12   1422.0    7.0
9  HFX Wanderers FC          Akeem Garcia      11   2082.0    7.0

In [87]:
rated_forwards = top_forwards(team_stats)
rated_midfielders = top_midfielders(team_stats)
rated_defenders = top_defenders(team_stats)
rated_keepers = top_keepers(team_stats)
rated_offenders = top_offenders(team_stats)

/home/todd/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
rated_forwards.to_csv(f'datasets/{year}/cpl-{year}-forwards.csv',index=False)
rated_midfielders.to_csv(f'datasets/{year}/cpl-{year}-midfielders.csv',index=False)
rated_defenders.to_csv(f'datasets/{year}/cpl-{year}-defenders.csv',index=False)
rated_keepers.to_csv(f'datasets/{year}/cpl-{year}-keepers.csv',index=False)
rated_offenders.to_csv(f'datasets/{year}/cpl-{year}-discipline.csv',index=False)

In [89]:
rated_goalscorers.head(10)

               team                  name  number  minutes  goals
0          Forge FC        Tristan Borges       4   1884.0   13.0
1        Cavalry FC     Dominique Malonga      19   1871.0   11.0
2        Pacific FC       Terran Campbell      14   2334.0   11.0
3       FC Edmonton         Easton Ongaro      19   1167.0   10.0
4          York9 FC        Rodrigo Gattas      22   1958.0    9.0
5          York9 FC           Ryan Telfer      18   2216.0    8.0
6        Cavalry FC        Oliver Minatel       7   1450.0    7.0
7         Valour FC          Marco Bustos      22   2249.0    7.0
8          York9 FC  Simon Karlsson Adjei      12   1422.0    7.0
9  HFX Wanderers FC          Akeem Garcia      11   2082.0    7.0

In [90]:
rated_forwards.head(10)

,team,name,number,minutes,goals,chances,assists,shots,shots on target,passes,crosses,duels,tackles,overall
0,HFX Wanderers FC,Mohamed Kourouma,12,1988.0,1.0,44.0,3.0,68.0,17.0,702.0,156.0,264.0,56.0,0.77
1,Pacific FC,Terran Campbell,14,2334.0,11.0,31.0,2.0,53.0,23.0,569.0,29.0,324.0,39.0,0.70
2,Cavalry FC,Nico Pasquotti,17,1853.0,5.0,24.0,3.0,33.0,16.0,457.0,61.0,374.0,47.0,0.64
3,York9 FC,Rodrigo Gattas,22,1958.0,9.0,23.0,0.0,77.0,36.0,728.0,38.0,214.0,17.0,0.61
4,FC Edmonton,Oumar Diouck,45,1977.0,6.0,30.0,2.0,45.0,16.0,583.0,53.0,269.0,36.0,0.61
5,Cavalry FC,Dominique Malonga,19,1871.0,11.0,19.0,1.0,68.0,34.0,489.0,5.0,185.0,2.0,0.55
6,York9 FC,Simon Karlsson Adjei,12,1422.0,7.0,21.0,2.0,53.0,16.0,341.0,4.0,210.0,15.0,0.47
7,Cavalry FC,Oliver Minatel,7,1450.0,7.0,17.0,1.0,37.0,12.0,348.0,21.0,194.0,29.0,0.43
8,FC Edmonton,Easton Ongaro,19,1167.0,10.0,11.0,2.0,38.0,20.0,249.0,6.0,188.0,5.0,0.43
9,Forge FC,Christopher Nanco,13,1429.0,4.0,21.0,2.0,29.0,12.0,380.0,22.0,208.0,19.0,0.43

In [91]:
rated_midfielders.head(10)

,team,name,number,minutes,goals,assists,touches,passes,pass accuracy,crosses,cross accuracy,chances,duels,tackles,overall
0,Forge FC,Tristan Borges,4,1884.0,13.0,5.0,1307.0,680.0,0.74,77.0,0.00,42.0,356.0,59.0,0.71
1,York9 FC,Ryan Telfer,18,2216.0,8.0,1.0,1533.0,832.0,0.60,164.0,0.00,66.0,372.0,52.0,0.70
2,Cavalry FC,Julian Bscher,8,1678.0,5.0,4.0,1432.0,971.0,0.80,113.0,0.29,38.0,282.0,57.0,0.68
3,Forge FC,Kyle Bekker,3,2354.0,4.0,5.0,1748.0,1362.0,0.82,98.0,0.25,44.0,173.0,23.0,0.68
4,York9 FC,Manuel Aparicio,10,2159.0,2.0,2.0,1788.0,1273.0,0.67,40.0,0.33,37.0,353.0,56.0,0.64
5,Valour FC,Marco Bustos,22,2249.0,7.0,3.0,1417.0,912.0,0.93,74.0,0.00,43.0,299.0,22.0,0.61
6,Valour FC,Louis Bland-Goyette,5,1772.0,1.0,3.0,1160.0,882.0,0.65,10.0,0.67,28.0,217.0,54.0,0.55
7,York9 FC,Kyle Porter,19,1916.0,2.0,4.0,1131.0,729.0,0.76,88.0,0.00,31.0,216.0,47.0,0.55
8,Cavalry FC,Jos Escalante,11,1592.0,4.0,4.0,905.0,450.0,0.68,116.0,0.25,29.0,226.0,32.0,0.53
9,Pacific FC,Victor Blasco,19,1586.0,6.0,3.0,1040.0,589.0,0.67,47.0,0.00,27.0,349.0,43.0,0.52

In [92]:
rated_defenders.head(10)

,team,name,number,minutes,tackles,tackles won,clearances,interceptions,duels,duels won,overall
0,FC Edmonton,Ml Temguia,8,2430.0,61.0,41.0,82.0,51.0,244.0,140.0,0.87
1,HFX Wanderers FC,Andr Bona,3,2053.0,66.0,50.0,76.0,32.0,257.0,150.0,0.84
2,York9 FC,Luca Gasparotto,13,2520.0,31.0,24.0,117.0,49.0,254.0,182.0,0.83
3,Cavalry FC,Dominick Zator,4,2335.0,46.0,32.0,75.0,51.0,265.0,169.0,0.83
4,York9 FC,Diyaeddine Abzi,20,1814.0,48.0,35.0,31.0,48.0,267.0,134.0,0.72
5,Forge FC,Kwame Awuah,2,1885.0,57.0,40.0,17.0,39.0,258.0,124.0,0.71
6,Forge FC,Daniel Krutzen,10,2381.0,48.0,24.0,85.0,42.0,186.0,110.0,0.71
7,Pacific FC,Kadin Chung,7,2032.0,57.0,42.0,42.0,31.0,203.0,111.0,0.69
8,HFX Wanderers FC,Matthew Arnone,23,2094.0,31.0,20.0,99.0,49.0,170.0,106.0,0.67
9,HFX Wanderers FC,Ndzemdzela Langwa,20,1281.0,65.0,47.0,20.0,14.0,272.0,154.0,0.67

In [93]:
rated_keepers.head(10)

,team,name,number,minutes,clean sheets,saves,shots faced,claimed crosses,overall
0,York9 FC,Nathan Ingham,1,2340.0,6.0,88.0,122.0,17.0,0.93
1,Cavalry FC,Marco Carducci,1,2160.0,9.0,65.0,81.0,11.0,0.79
2,Forge FC,Triston Henry,9,1890.0,8.0,53.0,70.0,12.0,0.72
3,FC Edmonton,Connor James,1,1980.0,6.0,67.0,91.0,9.0,0.71
4,Pacific FC,Mark Village,1,1440.0,4.0,47.0,69.0,10.0,0.55
5,Valour FC,Tyson Farago,1,1440.0,2.0,47.0,77.0,13.0,0.55
6,HFX Wanderers FC,Christian Oxner,50,1489.0,5.0,41.0,56.0,10.0,0.54
7,Pacific FC,Nolan Wirth,6,1080.0,1.0,59.0,83.0,6.0,0.46
8,Valour FC,Mathias Janssens,26,1080.0,4.0,43.0,65.0,0.0,0.39
9,HFX Wanderers FC,Jan-Michael Williams,21,1028.0,2.0,40.0,59.0,4.0,0.37

In [94]:
rated_offenders.head(20)

,team,name,number,minutes,yellow,red,fouls conceded,overall
0,York9 FC,Manuel Aparicio,10,2159.0,5.0,1.0,56.0,0.83
1,Forge FC,Dominic Samuel,22,2044.0,5.0,1.0,38.0,0.74
2,Pacific FC,Matthew Baldisimo,17,1809.0,5.0,1.0,34.0,0.71
3,Pacific FC,Alexander Gonzlez,28,1746.0,4.0,1.0,34.0,0.67
4,Valour FC,Jordan Murrell,4,1784.0,4.0,1.0,30.0,0.66
5,Cavalry FC,Joel Waterman,15,1719.0,4.0,1.0,20.0,0.61
6,Valour FC,Adam Mitter,15,1513.0,4.0,1.0,23.0,0.60
7,Cavalry FC,Nathan Mavila,3,1952.0,2.0,1.0,38.0,0.65
8,Forge FC,Tristan Borges,4,1884.0,2.0,1.0,37.0,0.64
9,Pacific FC,Lukas MacNaughton,14,1704.0,2.0,1.0,24.0,0.57
10,FC Edmonton,Jeannot Esua,3,1799.0,2.0,1.0,20.0,0.56
11,Cavalry FC,Jos Escalante,11,1592.0,2.0,1.0,23.0,0.56
12,Cavalry FC,Dean Northover,12,609.0,2.0,1.0,13.0,0.42
13,Cavalry FC,Mauro Eustaquio,18,533.0,2.0,1.0,16.0,0.42
14,Pacific FC,Ryan McCurdy,3,744.0,2.0,1.0,6.0,0.40
15,HFX Wanderers FC,Jan-Michael Williams,21,1028.0,1.0,1.0,1.0,0.38
16,FC Edmonton,Philippe Lincourt-Joseph,10,346.0,0.0,1.0,1.0,0.29
17,Valour FC,Raphael Ohin,27,1461.0,9.0,0.0,41.0,0.56
18,FC Edmonton,Oumar Diouck,45,1977.0,6.0,0.0,62.0,0.61
19,HFX Wanderers FC,Andr Bona,3,2053.0,6.0,0.0,31.0,0.50

In [95]:
def get_match_tables(data,query):
    db = data[data['home'] == query]
    db = pd.concat([db,data[data['away'] == query]])
    db = db.sort_values(by=['m','d'])
    return db

def likelihood_table(data,query):
    df = get_match_tables(data,query)
    a = []
    cols = data.columns
    for row in range(0,df.shape[0]):
        if df.iloc[row]['home'] == query:
            if df.iloc[row]['hr'] == 'W':
                b = [1,2,1]
                c = [1,0,0]
                d = [1,1,0]
                a.append(b)
                a.append(c)
                a.append(d)
            if df.iloc[row]['hr'] == 'L':
                b = [1,2,0]
                c = [1,0,1]
                d = [1,1,0]
                a.append(b)
                a.append(c)
                a.append(d)
            if df.iloc[row]['hr'] == 'D':
                b = [1,2,0]
                c = [1,0,0]
                d = [1,1,1]
                a.append(b)
                a.append(c)
                a.append(d)
        if df.iloc[row]['away'] == query:
            if df.iloc[row]['ar'] == 'W':
                b = [2,2,1]
                c = [2,0,0]
                d = [2,1,0]
                a.append(b)
                a.append(c)
                a.append(d)
            if df.iloc[row]['ar'] == 'L':
                b = [2,2,0]
                c = [2,0,1]
                d = [2,1,0]
                a.append(b)
                a.append(c)
                a.append(d)
            if df.iloc[row]['ar'] == 'D':
                b = [2,2,0]
                c = [2,0,0]
                d = [2,1,1]
                a.append(b)
                a.append(c)
                a.append(d)
    db= pd.DataFrame(a,columns=['h/a','w/l/d','y/n'])
    return db

def get_team_comparison(data,q1,q2):
    # getting games with q1 in both home or away
    db = data[data['team'] == q1]
    db = db.reset_index()
    db.pop('index')
    # filering down more to get only the games against q2
    db = db.sort_values(by=['m','d'])
    db = db[(db['home'] == q2) | (db['away'] == q2)]
    db = db.reset_index()
    db.pop('index')
    return db

def get_NB_data(data,query):
    db = likelihood_table(data,query)
    dy = db.pop('y/n').to_list()
    dx = [tuple(x) for x in db.values]
    return dx, dy

In [274]:
# home side
q1 = 'Cavalry FC'
# away side
q2 = 'FC Edmonton'

In [275]:
compare = get_team_comparison(results_brief,q1,q2)

In [276]:
compare

    d   m  hs  as         home hr         away ar        summary        team
0  18   5   1   0   Cavalry FC  W  FC Edmonton  L  W A 1 - 0 FCE  Cavalry FC
1  15   6   0   3  FC Edmonton  L   Cavalry FC  W  W A 0 - 3 FCE  Cavalry FC
2  16   8   0   0   Cavalry FC  D  FC Edmonton  D  D A 0 - 0 FCE  Cavalry FC
3  11   9   0   1  FC Edmonton  L   Cavalry FC  W  W A 0 - 1 FCE  Cavalry FC
4  19  10   3   1   Cavalry FC  W  FC Edmonton  L  W A 3 - 1 FCE  Cavalry FC

In [277]:
t1_x, t1_y = get_NB_data(compare,q1)

t2_x, t2_y = get_NB_data(compare,q2)

### Game Prediction

use Gaussian Naive Bayes model to predict the outcome of a home match.

In [278]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB,BernoulliNB
import statistics

In [279]:
def get_gnb_prediction(query,x,y,result):
    
    gnb = GaussianNB()
    bnb = BernoulliNB()
    # Train the model using the training sets
    
    gnb.fit(x,y)
    bnb.fit(x,y)
    
    # use below instead of predicted = model.predict([result]) because we want the probability
    gnb_pred = np.round(gnb.predict_proba([result])[:, 1],decimals=2)
    bnb_pred = np.round(bnb.predict_proba([result])[:, 1],decimals=2)
    
    pred = round((gnb_pred[0] + bnb_pred[0]) / 2,2)
    #print(gnb_pred[0], bnb_pred[0], pred)
    
    return pred

def get_match_prediction_home(query,x,y):
    home_win = get_gnb_prediction(query,x,y,[1,2])
    draw = get_gnb_prediction(query,x,y,[1,1])
    return home_win, draw
    
def get_match_prediction_away(query,x,y):
    away_win = get_gnb_prediction(query,x,y,[2,2])
    return away_win

def get_match_prediction(q1,q2,x1,y1,x2,y2):
    home_win, draw = get_match_prediction_home(q1,x1,y1)
    away_win = get_match_prediction_away(q2,x2,y2)
    return home_win, draw, away_win

In [280]:
home_win, draw, away_win = get_match_prediction(q1,q2,t1_x,t1_y,t2_x,t2_y)

In [281]:
print(q1,'\nwin probability: ', round(home_win,2))

Cavalry FC
win probability:  0.66

In [282]:
print(q2,'\nwin probability: ', round(away_win,2))

FC Edmonton
win probability:  0.07

In [283]:
print('Draw probability: ', round(draw,2))

Draw probability:  0.28

In [236]:
round(home_win + draw + away_win,1)

1.0

In [108]:
def get_team_form(data,query):
    db = data[data['team'] == query]
    db = pd.DataFrame(db['summary'])
    return db

def get_form_results(data):
    db = pd.DataFrame()
    form = get_results_brief(data[data['s'] <= 1])
    teams = data.home.unique()
    teams = np.sort(teams,axis=-1)
    for team in teams:
        df = get_team_form(form,team)
        db[team] = df['summary'].values
    db = db.T
    db = db.reset_index()
    return db

In [109]:
team_form_results = get_form_results(results)
team_form_results

,index,0,1,2,3,4,5,6,7,8,...,18,19,20,21,22,23,24,25,26,27
0,Cavalry FC,W A 2 - 1 Y9,W A 1 - 0 VFC,W A 1 - 2 FFC,W A 1 - 0 FCE,W A 2 - 0 HFX,W A 0 - 3 FCE,W A 1 - 2 HFX,L A 0 - 1 FFC,W A 0 - 2 Y9,...,D A 1 - 1 PFC,W A 0 - 8 VFC,W A 0 - 1 FCE,W A 4 - 1 PFC,D A 1 - 1 Y9,W A 4 - 1 VFC,W A 2 - 0 HFX,W A 2 - 1 FFC,L A 1 - 0 FFC,W A 3 - 1 FCE
1,FC Edmonton,W A 1 - 2 VFC,D A 0 - 0 PFC,L A 1 - 0 CFC,L A 2 - 0 FFC,L A 0 - 1 VFC,L A 0 - 3 CFC,D A 0 - 0 Y9,W A 1 - 3 PFC,W A 1 - 0 FFC,...,D A 2 - 2 Y9,D A 0 - 0 HFX,L A 0 - 1 CFC,L A 1 - 0 PFC,L A 1 - 3 Y9,D A 1 - 1 HFX,L A 0 - 1 FFC,L A 3 - 1 VFC,W A 3 - 1 PFC,L A 3 - 1 CFC
2,Forge FC,D A 1 - 1 Y9,L A 2 - 1 HFX,W A 3 - 0 PFC,L A 1 - 2 CFC,W A 0 - 2 VFC,W A 0 - 2 Y9,W A 2 - 0 FCE,W A 2 - 1 VFC,W A 0 - 1 CFC,...,W A 2 - 1 Y9,W A 1 - 3 VFC,D A 2 - 2 HFX,D A 1 - 1 HFX,W A 3 - 0 PFC,W A 0 - 1 FCE,W A 1 - 0 Y9,L A 2 - 1 CFC,L A 4 - 0 Y9,W A 1 - 0 CFC
3,HFX Wanderers FC,L A 1 - 0 PFC,W A 2 - 1 FFC,L A 1 - 0 VFC,L A 2 - 0 CFC,D A 1 - 1 Y9,W A 2 - 1 PFC,L A 1 - 2 CFC,D A 0 - 0 Y9,W A 2 - 0 VFC,...,L A 2 - 0 VFC,D A 0 - 0 FCE,D A 2 - 2 FFC,D A 1 - 1 FFC,D A 0 - 0 VFC,D A 1 - 1 FCE,D A 1 - 1 PFC,L A 2 - 0 CFC,D A 1 - 1 PFC,W A 0 - 2 Y9
4,Pacific FC,W A 1 - 0 HFX,L A 1 - 2 VFC,L A 3 - 0 FFC,D A 0 - 0 FCE,D A 2 - 2 Y9,L A 2 - 1 HFX,L A 1 - 0 Y9,W A 1 - 2 VFC,L A 1 - 3 FCE,...,D A 1 - 1 CFC,D A 1 - 1 FFC,L A 0 - 2 Y9,W A 1 - 0 FCE,L A 4 - 1 CFC,L A 3 - 0 FFC,D A 1 - 1 HFX,D A 1 - 1 HFX,L A 3 - 1 FCE,W A 2 - 0 VFC
5,Valour FC,W A 1 - 2 PFC,L A 1 - 2 FCE,L A 1 - 0 CFC,W A 1 - 0 HFX,L A 0 - 2 FFC,W A 0 - 1 FCE,L A 2 - 1 FFC,L A 1 - 2 PFC,L A 2 - 0 HFX,...,L A 2 - 1 PFC,W A 2 - 0 HFX,L A 0 - 8 CFC,L A 1 - 3 FFC,W A 2 - 4 Y9,D A 0 - 0 HFX,L A 4 - 1 CFC,W A 3 - 1 FCE,L A 0 - 4 Y9,L A 2 - 0 PFC
6,York9 FC,D A 1 - 1 FFC,L A 2 - 1 CFC,D A 2 - 2 PFC,L A 0 - 2 FFC,D A 1 - 1 HFX,W A 1 - 0 PFC,D A 0 - 0 FCE,D A 0 - 0 HFX,L A 0 - 2 CFC,...,D A 2 - 2 FCE,L A 2 - 1 FFC,W A 0 - 2 PFC,L A 2 - 4 VFC,W A 1 - 3 FCE,D A 1 - 1 CFC,L A 1 - 0 FFC,W A 4 - 0 FFC,W A 0 - 4 VFC,L A 0 - 2 HFX

In [110]:
team_form_results.to_csv(f'datasets/{year}/cpl-{year}-team_form.csv',index=False)

In [160]:
def get_home_away_comparison(data,game,query):
    db = data[data['game'] == game].copy()
    db = db[db['team'] == query]
    db = db.sort_values(by=['minutes'],ascending=False)
    db = db[0:11]
    db = db['name']
    return db

def get_compare_roster(data):
    a = []
    for name in data:
        for f in range(rated_forwards.shape[0]):
            if rated_forwards.loc[f]['name'] == name:
                player = rated_forwards.loc[f]
                a.append(player)
        for f in range(rated_midfielders.shape[0]):
            if rated_midfielders.loc[f]['name'] == name:
                player = rated_midfielders.loc[f]
                a.append(player)
        for f in range(rated_defenders.shape[0]):
            if rated_defenders.loc[f]['name'] == name:
                player = rated_defenders.loc[f]
                a.append(player)
        for f in range(rated_keepers.shape[0]):
            if rated_keepers.loc[f]['name'] == name:
                player = rated_keepers.loc[f]
                a.append(player)
    db = pd.DataFrame(a)
    db = db[['name','number','overall']]
    db = db.sort_values(by=['overall'],ascending=False)
    return db

In [207]:
def get_schedule(data):
    db = data.copy()
    db = db.sort_values(by=['game'])
    db = db.tail(4)
    db = db[['game','home','away']]
    db = index_reset(db)
    return db

In [208]:
week_schedule = get_schedule(results)

In [210]:
week_schedule

  game        home              away
0  I96    York9 FC  HFX Wanderers FC
1  I97  Cavalry FC       FC Edmonton
2  I98  Pacific FC         Valour FC
3  I99    Forge FC        Cavalry FC

In [250]:
game_info = week_schedule[week_schedule['home'] == q1]
game_info

  game      home              away
0  I96  York9 FC  HFX Wanderers FC

In [251]:
game_info.iloc[0]['game']

'I96'

In [252]:
game_info.iloc[0]['home']

'York9 FC'

In [253]:
game_info.iloc[0]['away']

'HFX Wanderers FC'

In [254]:
week_schedule.iloc[3]['away']

'Cavalry FC'

In [223]:
game_h = get_home_away_comparison(stats,week_schedule.iloc[0]['game'],q1)
game_a = get_home_away_comparison(stats,week_schedule.iloc[0]['game'],q2)

In [224]:
h1_roster = get_compare_roster(game_h)
h1_roster
#h1_roster.to_csv(f'datasets/{year}/cpl-{year}-h1_roster.csv',index=False)

                    name  number  overall
2        Luca Gasparotto      13     0.83
4        Diyaeddine Abzi      20     0.72
1            Ryan Telfer      18     0.70
11           Morey Doner       3     0.66
3         Rodrigo Gattas      22     0.61
7            Kyle Porter      19     0.55
16      Joseph Di Chiara       8     0.47
6   Simon Karlsson Adjei      12     0.47
39        Roger Thompson       6     0.23
28          Austin Ricci       7     0.09
13            Colm Vance      31     0.06

In [225]:
h2_roster = get_compare_roster(game_a)
h2_roster
#h2_roster.to_csv(f'datasets/{year}/cpl-{year}-h2_roster.csv',index=False)

                    name  number  overall
1             Andr Bona       3     0.84
0       Mohamed Kourouma      12     0.77
8         Matthew Arnone      23     0.67
6        Christian Oxner      50     0.54
14       Andre Rampersad      18     0.48
21            Kodai Iida       9     0.42
26          Akeem Garcia      11     0.38
29            Elton John       5     0.36
36  Juan Diego Gutirrez       7     0.32
36             Duran Lee      16     0.29
46         Chakib Hocine       4     0.08

In [124]:
def get_team_history(data,query):
    df = data[data['away'] == query].copy()
    df = df[['d','m','as','hs','away','ar','home','hr']]
    df = df.rename(columns={'as':'hs','hs':'as','away':'home','ar':'hr','home':'away','hr':'ar'})
    db = data[data['home'] == query].copy()
    db = db[['d','m','hs','as','home','hr','away','ar']]
    db = pd.concat([db,df])
    db = db.tail(5)
    db = db.sort_values(by=['m','d'],ascending=False)
    return db

def get_five_game_form(data,query):
    db = get_team_history(data,query)
    db = db.pop('hr')
    a = []
    for i in db:
        if i == 'W':
            j = [1,0,0]
            a.append(j)
        if i == 'L':
            j = [0,1,0]
            a.append(j)
        if i == 'D':
            j = [0,0,1]
            a.append(j)
    db = pd.DataFrame(a,columns=['w','l','d'])
    db = pd.DataFrame(db.sum())
    return db

In [125]:
team1_history = get_team_history(results,q1)
team1_history

     d   m  hs  as      home hr              away ar
99   2  11   1   0  Forge FC  W        Cavalry FC  L
91  12  10   0   4  Forge FC  L          York9 FC  W
90   9  10   1   2  Forge FC  L        Cavalry FC  W
84   2  10   1   0  Forge FC  W       FC Edmonton  L
76  18   9   1   1  Forge FC  D  HFX Wanderers FC  D

In [126]:
team1_history = get_five_game_form(results,q1)

In [127]:
team1_history

   0
w  2
l  2
d  1

In [128]:
for i in team1_history:
    if i == 'W':
        print(3)
    if i == 'L':
        print(0)
    if i == 'D':
        print(1)

In [129]:
team2_history = get_team_history(results,q2)
team2_history

     d   m  hs  as        home hr         away ar
98  26  10   0   1  Cavalry FC  L     Forge FC  W
92  16  10   0   1  Cavalry FC  L     Forge FC  W
82  28   9   1   1  Cavalry FC  D     York9 FC  D
70  11   9   1   0  Cavalry FC  W  FC Edmonton  L
67   2   9   8   0  Cavalry FC  W    Valour FC  L

In [272]:
test = get_long_name('FFC')

In [273]:
test

'Forge FC'

In [286]:
roster = get_stats_all(stats)

In [293]:
team = 'HFX Wanderers FC'
colour = team_ref[team_ref['team'] == team].copy()
colour = colour.iloc[0]['colour']
roster = get_stats_all(stats)
roster = roster[roster['team'] == team]
roster = roster[['team','name','number','position']]

In [295]:
colour

'w3-vivid-blue'