In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
team_ref = pd.read_csv('datasets/teams.csv')

In [3]:
team_ref

,team,city,province,short,colour,crest,link,wiki
0,Atletico Ottawa,Ottawa,Ontario,AO,w3-vivid-red,Atletico_Ottawa_nav.png,https://atleticoottawa.canpl.ca/,https://en.wikipedia.org/wiki/Atl%C3%A9tico_Ot...
1,Cavalry FC,Calgary,Alberta,CFC,w3-2019-fiesta,cavalry_fc_nav.png,https://cavalryfc.canpl.ca/,https://en.wikipedia.org/wiki/Cavalry_FC
2,FC Edmonton,Edmonton,Alberta,FCE,w3-2019-princess-blue,FC_Edmonton_nav.png,https://fcedmonton.canpl.ca/,https://en.wikipedia.org/wiki/FC_Edmonton
3,Forge FC,Hamilton,Ontario,FFC,w3-2019-turmeric,Forge_FC_nav.png,https://forgefc.canpl.ca/,https://en.wikipedia.org/wiki/Forge_FC
4,HFX Wanderers FC,Halifax,Nova Scotia,HFX,w3-vivid-blue,HFX_Wanderers_FC.png,https://hfxwanderersfc.canpl.ca/,https://en.wikipedia.org/wiki/HFX_Wanderers_FC
5,Pacific FC,Langford,British Columbia,PFC,w3-vivid-reddish-purple,Pacific_FC_nav.png,https://pacificfc.canpl.ca/,https://en.wikipedia.org/wiki/Pacific_FC
6,Valour FC,Winnipeg,Manitoba,VFC,w3-2019-biking-red,Valour_FC_nav.png,https://valourfc.canpl.ca/,https://en.wikipedia.org/wiki/Valour_FC
7,York9 FC,York Region,Ontario,Y9,w3-vivid-yellow-green,York_9_FC_nav.png,https://york9fc.canpl.ca/,https://en.wikipedia.org/wiki/York9_FC

In [4]:
year = '2020'

In [5]:
results = pd.read_csv(f'datasets/{year}/cpl-{year}-results-test.csv')
stats = pd.read_csv(f'datasets/{year}/cpl-{year}-stats.csv')
player_info = pd.read_csv(f'datasets/{year}/player-{year}-info.csv')

In [6]:
if year == '2019':
    team_ref = team_ref[1:]
    results_old = results[:-7].copy()
else:
    results_old = results[results['hr'] != 'E'].copy()

In [7]:
team_ref

,team,city,province,short,colour,crest,link,wiki
0,Atletico Ottawa,Ottawa,Ontario,AO,w3-vivid-red,Atletico_Ottawa_nav.png,https://atleticoottawa.canpl.ca/,https://en.wikipedia.org/wiki/Atl%C3%A9tico_Ot...
1,Cavalry FC,Calgary,Alberta,CFC,w3-2019-fiesta,cavalry_fc_nav.png,https://cavalryfc.canpl.ca/,https://en.wikipedia.org/wiki/Cavalry_FC
2,FC Edmonton,Edmonton,Alberta,FCE,w3-2019-princess-blue,FC_Edmonton_nav.png,https://fcedmonton.canpl.ca/,https://en.wikipedia.org/wiki/FC_Edmonton
3,Forge FC,Hamilton,Ontario,FFC,w3-2019-turmeric,Forge_FC_nav.png,https://forgefc.canpl.ca/,https://en.wikipedia.org/wiki/Forge_FC
4,HFX Wanderers FC,Halifax,Nova Scotia,HFX,w3-vivid-blue,HFX_Wanderers_FC.png,https://hfxwanderersfc.canpl.ca/,https://en.wikipedia.org/wiki/HFX_Wanderers_FC
5,Pacific FC,Langford,British Columbia,PFC,w3-vivid-reddish-purple,Pacific_FC_nav.png,https://pacificfc.canpl.ca/,https://en.wikipedia.org/wiki/Pacific_FC
6,Valour FC,Winnipeg,Manitoba,VFC,w3-2019-biking-red,Valour_FC_nav.png,https://valourfc.canpl.ca/,https://en.wikipedia.org/wiki/Valour_FC
7,York9 FC,York Region,Ontario,Y9,w3-vivid-yellow-green,York_9_FC_nav.png,https://york9fc.canpl.ca/,https://en.wikipedia.org/wiki/York9_FC

In [8]:
def get_long_name(string,team_ref):
    for short in team_ref['short']:
        row = team_ref[team_ref['short'] == short]
        if string == short:
            string = row.iloc[0]['team']
    return string

def get_shortest_name(string,team_ref):
    for team in team_ref['team']:
        row = team_ref[team_ref['team'] == team]
        if string == team:
            string = str(row.iloc[0]['short'])
    return string

def get_schedule(data):
    db = data.copy()
    db = db[db['s'] <= 1]
    #db = db.tail(4)
    db = db[['game','home','away']]
    db = index_reset(db)
    db = db.sort_values(by=['game'])
    return db

In [9]:
def fix_db_na(data):
    db = data.copy()
    if db['team'].isnull().values.any():
        for row in range(db.shape[0]):
            if pd.isna(db.iloc[row]['team']) == True:
                print(True)
                db.iloc[row]['team'] = get_long_name(db.iloc[row]['team'],data)
    return db

In [10]:
results.head(5)

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
0,II1,1,7,1,2,1,Forge FC,W,Cavalry FC,L,0,0,1-7-2020 Forge FC E 2-1 E Cavalry FC,Tim Hortons Field,https://canpl.ca/schedule
1,II2,1,7,1,3,1,Pacific FC,W,FC Edmonton,L,0,0,1-7-2020 Pacific FC E 3-1 E FC Edmonton,Westhills Stadium,https://canpl.ca/schedule
2,II3,1,7,1,1,0,York9 FC,W,HFX Wanderers FC,L,1,0,1-7-2020 York9 FC E 1-0 E HFX Wanderers FC,York Lions Stadium,https://canpl.ca/schedule
3,II4,1,7,1,1,2,York9 FC,L,Valour FC,W,0,0,1-7-2020 York9 FC E 1-2 E Valour FC,York Lions Stadium,https://canpl.ca/schedule
4,II5,1,7,1,0,0,Pacific FC,E,HFX Wanderers FC,E,0,0,1-7-2020 Pacific FC E 0-0 E HFX Wanderers FC,Westhills Stadium,https://canpl.ca/schedule

In [11]:
results_old.head(5)

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
0,II1,1,7,1,2,1,Forge FC,W,Cavalry FC,L,0,0,1-7-2020 Forge FC E 2-1 E Cavalry FC,Tim Hortons Field,https://canpl.ca/schedule
1,II2,1,7,1,3,1,Pacific FC,W,FC Edmonton,L,0,0,1-7-2020 Pacific FC E 3-1 E FC Edmonton,Westhills Stadium,https://canpl.ca/schedule
2,II3,1,7,1,1,0,York9 FC,W,HFX Wanderers FC,L,1,0,1-7-2020 York9 FC E 1-0 E HFX Wanderers FC,York Lions Stadium,https://canpl.ca/schedule
3,II4,1,7,1,1,2,York9 FC,L,Valour FC,W,0,0,1-7-2020 York9 FC E 1-2 E Valour FC,York Lions Stadium,https://canpl.ca/schedule

In [12]:
results_diff = pd.concat([results, results_old]).drop_duplicates(keep=False)

In [13]:
results_diff

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
4,II5,1,7,1,0,0,Pacific FC,E,HFX Wanderers FC,E,0,0,1-7-2020 Pacific FC E 0-0 E HFX Wanderers FC,Westhills Stadium,https://canpl.ca/schedule
5,II6,1,7,1,0,0,Forge FC,E,Atletico Ottawa,E,0,0,1-7-2020 Forge FC E 0-0 E Atletico Ottawa,Tim Hortons Field,https://canpl.ca/schedule
6,II7,1,7,1,0,0,FC Edmonton,E,Cavalry FC,E,0,0,1-7-2020 FC Edmonton E 0-0 E Cavalry FC,Clarke Field,https://canpl.ca/schedule
7,II8,1,7,1,0,0,FC Edmonton,E,Forge FC,E,0,0,1-7-2020 FC Edmonton E 0-0 E Forge FC,Clarke Field,https://canpl.ca/schedule
8,II9,1,7,1,0,0,HFX Wanderers FC,E,Atletico Ottawa,E,0,0,1-7-2020 HFX Wanderers FC E 0-0 E Atletico Ottawa,Wanderers Grounds,https://canpl.ca/schedule
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,II108,1,7,1,0,0,Atletico Ottawa,E,Pacific FC,E,0,0,1-7-2020 Atletico Ottawa E 0-0 E Pacific FC,TD Place Stadium,https://canpl.ca/schedule
108,II109,1,7,1,0,0,Forge FC,E,Cavalry FC,E,0,0,1-7-2020 Forge FC E 0-0 E Cavalry FC,Tim Hortons Field,https://canpl.ca/schedule
109,II110,1,7,1,0,0,HFX Wanderers FC,E,FC Edmonton,E,0,0,1-7-2020 HFX Wanderers FC E 0-0 E FC Edmonton,Wanderers Grounds,https://canpl.ca/schedule
110,II111,1,7,1,0,0,Atletico Ottawa,E,Valour FC,E,0,0,1-7-2020 Atletico Ottawa E 0-0 E Valour FC,TD Place Stadium,https://canpl.ca/schedule
111,II112,1,7,1,0,0,Pacific FC,E,York9 FC,E,0,0,1-7-2020 Pacific FC E 0-0 E York9 FC,Westhills Stadium,https://canpl.ca/schedule

In [14]:
def index_reset(data):
    data = data.reset_index()
    data.pop('index')
    return data

def get_team_results(data,query):
    db = data[data['home'] == query]
    da = data[data['away'] == query]
    db = pd.concat([db,da])
    db = index_reset(db)
    return db

def get_team_brief(data,query,df):
    db = get_team_results(data,query)
    cols = ['game','s','csh','csa','combined','venue','links']
    for col in cols:
        db.pop(col)
    db = db.sort_values(by=['m','d'])
    db = index_reset(db)
    db['summary'] = '0'
    for i in range(0,db.shape[0]):
        if db.iloc[i]['home'] == query:
            x = df[df['team'] == db.iloc[i]['away']]#.reset_index()
            opponent = x.iloc[0]['short']
            outcome = db.iloc[i]['hr'] + ' A'
        else:
            x = df[df['team'] == db.iloc[i]['home']]#.reset_index() NOT SURE WHY THIS BROKE SUDDENLY
            opponent = x.iloc[0]['short']
            outcome = db.iloc[i]['ar'] + ' A'
        score = str(db.iloc[i]['hs']) + ' - ' + str(db.iloc[i]['as'])
        db.loc[i,'summary'] = outcome + ' ' + score +  ' ' + opponent
    db['team'] = query
    return db

def get_results_brief(data,dc):
    db = pd.DataFrame()
    for team in dc['team']:
        df = get_team_brief(data,team,dc)
        db = pd.concat([db,df])
    db = index_reset(db)
    return db

def get_club_statistics(data,query):
    df = data
    a = []
    cols = df.columns
    for row in range(0,df.shape[0]):
        if df.iloc[row]['home'] == query:
            if df.iloc[row]['hr'] == 'W':
                vals = [1,3,3,1,0,0,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
            if df.iloc[row]['hr'] == 'L':
                vals = [1,0,3,0,1,0,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
            if df.iloc[row]['hr'] == 'D':
                vals = [1,1,3,0,0,1,df.iloc[row]['hs'],df.iloc[row]['as'],df.iloc[row]['hs'],df.iloc[row]['as'],0,0]
                a.append(vals)
        if df.iloc[row]['away'] == query:
            if df.iloc[row]['ar'] == 'W':
                vals = [1,3,3,1,0,0,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
            if df.iloc[row]['ar'] == 'L':
                vals = [1,0,3,0,1,0,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
            if df.iloc[row]['ar'] == 'D':
                vals = [1,1,3,0,0,1,df.iloc[row]['as'],df.iloc[row]['hs'],0,0,df.iloc[row]['as'],df.iloc[row]['hs']]
                a.append(vals)
    db= pd.DataFrame(a,columns=['gp','pts','tpp','w','l','d','gf','ga','gfh','gah','gfa','gaa'])
    db = pd.DataFrame(db.sum())
    db = db.T
    return db

def get_standings(data,season,ref):
    db = pd.DataFrame()
    if season == 1:
        data = data[data['s'] <= 1]
    if season == 2:
        data = data[data['s'] > 1]
    teams = ref['team']
    #teams = np.sort(teams,axis=-1)
    for team in teams:
        df = get_team_brief(data,team,ref)
        df = get_club_statistics(df,team)
        ppg = round(df['pts']/df['gp'],2)
        gd = df['gf'] - df['ga']
        df.insert(0,'team',team)
        df.insert(4,'ppg',ppg)
        df.insert(8,'gd',gd)
        db = pd.concat([db,df])
    db = db.sort_values(by=['pts','w','gf'],ascending=False)
    db = index_reset(db)
    db = db.reset_index()
    db = db.rename(columns={'index':'rank'})
    db['rank'] = db['rank'] + 1
    db = db.fillna(0)
    return db

In [15]:
standings = get_standings(results,1,team_ref)
if results_old.empty == True:
    standings_old = get_standings(results,1,team_ref)
else:
    standings_old = get_standings(results_old,1,team_ref)

In [16]:
standings

,rank,team,gp,pts,tpp,ppg,w,l,d,gd,gf,ga,gfh,gah,gfa,gaa
0,1,Pacific FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,2.0,3.0,1.0,3.0,1.0,0.0,0.0
1,2,Forge FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,1.0,2.0,1.0,2.0,1.0,0.0,0.0
2,3,Valour FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,2.0,1.0
3,4,York9 FC,2.0,3.0,6.0,1.5,1.0,1.0,0.0,0.0,2.0,2.0,2.0,2.0,0.0,0.0
4,5,Cavalry FC,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-1.0,1.0,2.0,0.0,0.0,1.0,2.0
5,6,FC Edmonton,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-2.0,1.0,3.0,0.0,0.0,1.0,3.0
6,7,Atletico Ottawa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,HFX Wanderers FC,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [17]:
standings_old

,rank,team,gp,pts,tpp,ppg,w,l,d,gd,gf,ga,gfh,gah,gfa,gaa
0,1,Pacific FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,2.0,3.0,1.0,3.0,1.0,0.0,0.0
1,2,Forge FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,1.0,2.0,1.0,2.0,1.0,0.0,0.0
2,3,Valour FC,1.0,3.0,3.0,3.0,1.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,2.0,1.0
3,4,York9 FC,2.0,3.0,6.0,1.5,1.0,1.0,0.0,0.0,2.0,2.0,2.0,2.0,0.0,0.0
4,5,Cavalry FC,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-1.0,1.0,2.0,0.0,0.0,1.0,2.0
5,6,FC Edmonton,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-2.0,1.0,3.0,0.0,0.0,1.0,3.0
6,7,Atletico Ottawa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,HFX Wanderers FC,1.0,0.0,3.0,0.0,0.0,1.0,0.0,-1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [18]:
def compare_standings(db,df,dc):
    a = []
    for team in dc['team']:
        rank1 = df[df['team'] == team]
        rank2 = db[db['team'] == team]
        if rank1.iloc[0]['rank'] == rank2.iloc[0]['rank']:
            change = 0
        else:
            change = rank1.iloc[0]['rank'] - rank2.iloc[0]['rank']
        a.append([team,change])
    db = pd.DataFrame(a)
    db = pd.DataFrame({'team': db.iloc[:][0], 'change': db.iloc[:][1]})
    db = db.sort_values(by=['change'],ascending=False)
    db = index_reset(db)
    return db

def get_power_rankings(db,df,dc):
    a = []
    for team in dc['team']:
        crest = dc[dc['team'] == team]
        colour = crest['colour'].values
        colour = colour[0]
        crest = crest['crest'].values
        crest = crest[0]
        
        rank1 = df[df['team'] == team]
        rank2 = db[db['team'] == team]
        
        if rank1.iloc[0]['rank'] == 1:
            bonus = 4
        elif rank1.iloc[0]['rank'] == 2:
            bonus = 3
        elif rank1.iloc[0]['rank'] == 3:
            bonus = 2
        else:
            bonus =0
        
        if db.iloc[0]['gp'] == 0:
            bonus = 0
            
        if rank1.iloc[0]['rank'] == rank2.iloc[0]['rank']:
            change = 0
        else:
            change = (rank1.iloc[0]['rank'] - rank2.iloc[0]['rank']) * - 1
            
        if rank1.iloc[0]['gd'] == rank2.iloc[0]['gd']:
            gd_bonus = 0
        else:
            gd_bonus = (rank1.iloc[0]['gd'] - rank2.iloc[0]['gd']) * - 1
        
        if rank1.iloc[0]['ga'] == rank2.iloc[0]['ga']:
            ga_nerf = 0
        else:
            ga_nerf = (rank1.iloc[0]['ga'] - rank2.iloc[0]['ga']) * - 1
            
        if rank1.iloc[0]['w'] == rank2.iloc[0]['w']:
            w_bonus = 0
        else:
            w_bonus = (rank1.iloc[0]['w'] - rank2.iloc[0]['w']) * - 1
        
        goal_bonus = gd_bonus - ga_nerf
        change = change + bonus + goal_bonus + w_bonus
        
        a.append([team,change,goal_bonus,w_bonus,crest,colour])
    db = pd.DataFrame(a,columns = ['team','change','goal_bonus','w_bonus','crest','colour'])
    #db = pd.DataFrame(a)
    #db = pd.DataFrame({'team': db.iloc[:][0], 'change': db.iloc[:][1]})
    db = db.sort_values(by=['change'],ascending=False)
    db = index_reset(db)
    rank = db.index + 1
    db.insert(0,'rank',rank)
    return db

In [19]:
compare_standings_test = compare_standings(standings,standings_old,team_ref)

In [20]:
compare_standings_test

               team  change
0   Atletico Ottawa       0
1        Cavalry FC       0
2       FC Edmonton       0
3          Forge FC       0
4  HFX Wanderers FC       0
5        Pacific FC       0
6         Valour FC       0
7          York9 FC       0

In [21]:
power_rankings = get_power_rankings(standings,standings_old,team_ref)
power_rankings

,rank,team,change,goal_bonus,w_bonus,crest,colour
0,1,Pacific FC,4,0,0,Pacific_FC_nav.png,w3-vivid-reddish-purple
1,2,Forge FC,3,0,0,Forge_FC_nav.png,w3-2019-turmeric
2,3,Valour FC,2,0,0,Valour_FC_nav.png,w3-2019-biking-red
3,4,Atletico Ottawa,0,0,0,Atletico_Ottawa_nav.png,w3-vivid-red
4,5,Cavalry FC,0,0,0,cavalry_fc_nav.png,w3-2019-fiesta
5,6,FC Edmonton,0,0,0,FC_Edmonton_nav.png,w3-2019-princess-blue
6,7,HFX Wanderers FC,0,0,0,HFX_Wanderers_FC.png,w3-vivid-blue
7,8,York9 FC,0,0,0,York_9_FC_nav.png,w3-vivid-yellow-green

def clean_team_game(data,db,check): # Fix this section for teams that haven't played yet
    if check == 0:
        df = data.iloc[0]['team'] # Getting the name of the top team
    else:
        df = data.iloc[-1]['team'] # Getting the name of the bottom placed team
    if data.iloc[-1]['gp'] == 0 and check == 1:
        db = pd.DataFrame([(df,0,df,0)],columns=['home','hs','away','as']) # make an empty set if the game is empty
    else:
        df = db[(db['home'] == df) | (db['away'] == df)] # get appropirate game results for specified team
        db = index_reset(df)
        db = db.iloc[0][['home','hs','away','as']]
        db = pd.DataFrame(db)
        db = db.T
    return db

def get_long_name(da,db,dc,dd):
    def get_long(data,dd):
        for team in data['home']:
            row = dd[dd['short'] == team]
            data.at[0,'home'] = row.iloc[0]['team']
        for team in data['away']:
            row = dd[dd['short'] == team]
            data.at[0,'away'] = row.iloc[0]['team']
        return data
    da = get_long(da,dd)
    db = get_long(db,dd)
    dc = get_long(dc,dd)
    teams_in = pd.DataFrame([da.iloc[0]['home'],da.iloc[0]['away'],db.iloc[0]['home'],db.iloc[0]['away'],dc.iloc[0]['home'],dc.iloc[0]['away']],columns=['teams'])
    teams_in = teams_in.teams.unique()
    return teams_in
    
def get_short_name(data,dc):
    for team in data['home']:
        row = dc[dc['team'] == team]
        data.at[0,'home'] = row.iloc[0]['short']
    for team in data['away']:
        row = dc[dc['team'] == team]
        data.at[0,'away'] = row.iloc[0]['short']
    return data

In [22]:
def clean_team_game(data,db,check): # Fix this section for teams that haven't played yet
    if check == 0:
        df = data.iloc[0]['team'] # Getting the name of the top team
    else:
        df = data.iloc[-1]['team'] # Getting the name of the bottom placed team
    if data.iloc[-1]['gp'] == 0 and check == 1:
        db = pd.DataFrame([(df,0,df,0)],columns=['home','hs','away','as']) # make an empty set if the game is empty
    else:
        df = db[(db['home'] == df) | (db['away'] == df)] # get appropirate game results for specified team
        db = index_reset(df)
        db = db.iloc[0][['home','hs','away','as']]
        db = pd.DataFrame(db)
        db = db.T
    return db

def get_longest_name(da,db,dc,team_ref):
    def get_long(data,dd):
        db = data.copy()
        for team in db['home']:
            row = dd[dd['short'] == team]
            db.at[0,'home'] = row.iloc[0]['team']
        for team in db['away']:
            row = dd[dd['short'] == team]
            db.at[0,'away'] = row.iloc[0]['team']
        return db
    da = get_long(da,team_ref)
    db = get_long(db,team_ref)
    dc = get_long(dc,team_ref)
    teams_in = pd.DataFrame([da.iloc[0]['home'],da.iloc[0]['away'],db.iloc[0]['home'],db.iloc[0]['away'],dc.iloc[0]['home'],dc.iloc[0]['away']],columns=['teams'])
    teams_in = teams_in.teams.unique()
    return teams_in
    
def get_short_name(data,dc):
    for team in data['home']:
        row = dc[dc['team'] == team]
        data.at[0,'home'] = row.iloc[0]['short']
    for team in data['away']:
        row = dc[dc['team'] == team]
        data.at[0,'away'] = row.iloc[0]['short']
    return data

def get_weeks_results(data,standings,team_ref):
    if data.iloc[0]['hr'] == 'E':
        db = pd.DataFrame([('NA',0,'NA',0)],columns=['home','hs','away','as'])
        big_win, top_team, low_team,other_team = db,db,db,db
        goals = 0
        return db,goals,big_win,top_team,low_team,other_team
    df = data
    month = df.iloc[-1]['m']
    week = df.iloc[-1]['d']
    db = df[df['m'] == month]
    db = db[db['d'] >= week - 6]
    db = db.sort_values(by=['game'],ascending=False)
    goals = db['hs'].sum() + db['as'].sum()
    max_home = db[db['hs'] == db['hs'].max()]
    max_away = db[db['as'] == db['as'].max()]
    if max_home.iloc[0]['hs'] > max_away.iloc[0]['as']:
        max_home_win = max_home
    else:
        max_home_win = max_away
    big_win = max_home_win[['home','hs','away','as']]
    big_win = index_reset(big_win)
    big_win = get_short_name(big_win,team_ref)
    big_win = pd.DataFrame(big_win.loc[0])
    big_win = big_win.T
    top_team = clean_team_game(standings,db,0)
    top_team = get_short_name(top_team,team_ref)
    low_team = clean_team_game(standings,db,1)
    low_team = get_short_name(low_team,team_ref)
    teams_in = get_longest_name(big_win,top_team,low_team,team_ref)
    other_team = db[(~db['home'].isin(teams_in)) | (~db['away'].isin(teams_in))]
    other_team = index_reset(other_team)
    other_team = pd.DataFrame(other_team.loc[0][['home','hs','away','as']])
    other_team = other_team.T
    other_team = get_short_name(other_team,team_ref)
    return db,goals,big_win,top_team,low_team,other_team

In [23]:
# to get items in the list df = df[df['date'].isin(a)]
# to get the items not in the list df = df[~df['date'].isin(a)]

In [24]:
game_week, goals, big_win, top_result, low_result,other_result = get_weeks_results(results[results['s'] <= 1],standings,team_ref)
game_week

,game,s,d,m,hs,as,home,hr,away,ar,csh,csa,combined,venue,links
98,II99,1,7,1,0,0,Atletico Ottawa,E,FC Edmonton,E,0,0,1-7-2020 Atletico Ottawa E 0-0 E FC Edmonton,TD Place Stadium,https://canpl.ca/schedule
97,II98,1,7,1,0,0,HFX Wanderers FC,E,York9 FC,E,0,0,1-7-2020 HFX Wanderers FC E 0-0 E York9 FC,Wanderers Grounds,https://canpl.ca/schedule
96,II97,1,7,1,0,0,Forge FC,E,Valour FC,E,0,0,1-7-2020 Forge FC E 0-0 E Valour FC,Tim Hortons Field,https://canpl.ca/schedule
95,II96,1,7,1,0,0,FC Edmonton,E,HFX Wanderers FC,E,0,0,1-7-2020 FC Edmonton E 0-0 E HFX Wanderers FC,Clarke Field,https://canpl.ca/schedule
94,II95,1,7,1,0,0,Valour FC,E,Cavalry FC,E,0,0,1-7-2020 Valour FC E 0-0 E Cavalry FC,IG Field,https://canpl.ca/schedule
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,II102,1,7,1,0,0,Cavalry FC,E,Atletico Ottawa,E,0,0,1-7-2020 Cavalry FC E 0-0 E Atletico Ottawa,ATCO Field,https://canpl.ca/schedule
100,II101,1,7,1,0,0,HFX Wanderers FC,E,Valour FC,E,0,0,1-7-2020 HFX Wanderers FC E 0-0 E Valour FC,Wanderers Grounds,https://canpl.ca/schedule
99,II100,1,7,1,0,0,Pacific FC,E,Cavalry FC,E,0,0,1-7-2020 Pacific FC E 0-0 E Cavalry FC,Westhills Stadium,https://canpl.ca/schedule
9,II10,1,7,1,0,0,Cavalry FC,E,York9 FC,E,0,0,1-7-2020 Cavalry FC E 0-0 E York9 FC,ATCO Field,https://canpl.ca/schedule
0,II1,1,7,1,2,1,Forge FC,W,Cavalry FC,L,0,0,1-7-2020 Forge FC E 2-1 E Cavalry FC,Tim Hortons Field,https://canpl.ca/schedule

In [25]:
big_win

  home hs away as
0  PFC  3  FCE  1

In [26]:
top_result

  home hs away as
0   Y9  0  PFC  0

In [27]:
other_result

  home hs away as
0   AO  0  FCE  0

In [28]:
low_result

  home hs away as
0  HFX  0   Y9  0

In [29]:
goals

11

In [30]:
compare_standings_test.iloc[0]['team']

'Atletico Ottawa'

In [31]:
compare_standings_test.iloc[-1]['team']

'York9 FC'

In [32]:
standings.iloc[0]['team']

'Pacific FC'

In [33]:
#championship = get_standings(results,2)
#championship = championship[championship['gp'] > 1]
#championship

In [34]:
results_brief = get_results_brief(results,team_ref)

In [35]:
results_brief.head(5)

,d,m,hs,as,home,hr,away,ar,summary,team
0,7,1,0,0,Atletico Ottawa,E,HFX Wanderers FC,E,E A 0 - 0 HFX,Atletico Ottawa
1,7,1,0,0,Atletico Ottawa,E,Pacific FC,E,E A 0 - 0 PFC,Atletico Ottawa
2,7,1,0,0,Atletico Ottawa,E,York9 FC,E,E A 0 - 0 Y9,Atletico Ottawa
3,7,1,0,0,Atletico Ottawa,E,Cavalry FC,E,E A 0 - 0 CFC,Atletico Ottawa
4,7,1,0,0,Atletico Ottawa,E,York9 FC,E,E A 0 - 0 Y9,Atletico Ottawa

In [36]:
stats.head(5)

,game,team,position,number,name,first,last,minutes,touches,passes,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,cs
0,II1,Atletico Ottawa,m,0,Ajay Khabra,Ajay,Khabra,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,II1,Atletico Ottawa,m,0,Antoine Coupland,Antoine,Coupland,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,II1,Atletico Ottawa,m,0,Ben Fisk,Ben,Fisk,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,II1,Atletico Ottawa,m,0,Bernardinho,Bernardinho,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,II1,Atletico Ottawa,d,0,Brandon John,Brandon,John,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
stats.describe()

,number,minutes,touches,passes,pass-acc,crosses,cross-acc,assists,chances,goals,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,cs
count,152.000000,152.0,152.0,152.0,152.0,152.0,152.0,152.0,152.0,152.0,...,152.0,152.0,152.0,152.0,152.0,152.0,152.0,152.0,152.0,152.0
mean,9.427632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,11.555568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,6.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,16.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,77.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
def get_team_stats(data,query):
    db = data[data['team'] == query]
    names = db['name'].unique()
    information = data.copy()
    db.pop('number')
    db = db.groupby(['name']).sum()
    db.insert(0,'last','empty')
    db.insert(0,'first','empty')
    db.insert(0,'position','empty')
    db.insert(0,'number',0)
    #db.insert(0,'team',team)
    i = 0
    for name in names:
        player = information[information['name'] == name].head(1)
        db.at[name,'first'] = player.iloc[0]['first']
        db.at[name,'last'] = player.iloc[0]['last']
        db.at[name,'number'] = int(player.iloc[0]['number'])
        db.at[name,'position'] = player.iloc[0]['position']
        db.at[name,'pass-acc'] = player.iloc[0]['pass-acc'].mean()
        db.at[name,'cross-acc'] = player.iloc[0]['cross-acc'].mean()
    db = db.reset_index()
    return db

def get_stats_all(data,dc):
    db = pd.DataFrame()
    for team in dc['team']:
        df = get_team_stats(data,team)
        df.insert(0,'team',team)
        db = pd.concat([db,df])
    db = index_reset(db)
    return db

In [39]:
team_stats = get_stats_all(stats,team_ref)

In [40]:
team_stats

,team,name,number,position,first,last,minutes,touches,passes,pass-acc,...,clearances,interceptions,yellow,red,fouls won,fouls conceded,shots faced,saves,claimed crosses,cs
0,Atletico Ottawa,Ajay Khabra,0,m,Ajay,Khabra,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Atletico Ottawa,Antoine Coupland,0,m,Antoine,Coupland,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Atletico Ottawa,Ben Fisk,0,m,Ben,Fisk,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Atletico Ottawa,Bernardinho,0,m,Bernardinho,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Atletico Ottawa,Brandon John,0,d,Brandon,John,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,York9 FC,Morey Doner,3,d,Morey,Doner,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,York9 FC,Nathan Ingham,29,g,Nathan,Ingham,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,York9 FC,Nicholas Hamilton,0,f,Nicholas,Hamilton,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150,York9 FC,Roger Thompson,6,d,Roger,Thompson,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
151,York9 FC,Wataru Murofushi,23,m,Wataru,Murofushi,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
#team_stats.to_csv(f'datasets/{year}/cpl-{year}-team_stats.csv',index=False)

In [42]:
# get associated information for players league wide and calculate an overall score for each position
def get_evaluation(condensed_player_info,full_player_info):
    names = condensed_player_info.name.unique() # grab the list of names at the specified position
    eval_ = condensed_player_info.describe().T # get the evalution scores
    checks = condensed_player_info.columns[4:] # slice away the first three columns (name,number,postion) not needed
    condensed_player_info['overall'] = 0.0 # create the final column overall
    condensed_player_info = condensed_player_info.set_index('name') # set the index to the player name to search for a specific player
    for name in names: # iterate through the names in the lisst
        player = full_player_info[full_player_info['name'] == name].head(1) # get the players details
        a = [] # create an empty array to store the scores
        for check in checks: # iterate through the columns of remaining data
            result = player.iloc[0][check] / eval_['max'][check] # calculate the score for the value found value/max
            a.append(result) # append the result into the list
            overall = str(sum(a) / len(checks)) #calculate the final score sum(list) / num of checks
            overall = overall[0:4]
            condensed_player_info.at[name,'overall'] = overall # assign the value as the overall score
    condensed_player_info = condensed_player_info.reset_index() # reset the index, making the name column a column again
    condensed_player_info = condensed_player_info.sort_values(by=['overall'],ascending=False) # sort using overall, descending
    return condensed_player_info

In [43]:
def top_tracked(team_stats,tracked):
    if team_stats.minutes.sum() == 0:
        tracked_player_stat = pd.DataFrame([('NA',0,0,0,0)],columns=['team','name','number','minutes',tracked])
        return tracked_player_stat
    df = team_stats.copy()
    cols = ['team','name','position','number','minutes',tracked]
    tracked_player_stat = df[cols]
    #tracked_player_stat = get_evaluation(tracked_player_stat,df)
    tracked_player_stat = tracked_player_stat.sort_values(by=[tracked],ascending=False)
    tracked_player_stat = tracked_player_stat.reset_index()
    tracked_player_stat.pop('index')
    team = tracked_player_stat.pop('team')
    tracked_player_stat.insert(0,'team',team)
    tracked_player_stat = tracked_player_stat[tracked_player_stat[tracked] >= 1]
    rank = tracked_player_stat.index + 1
    tracked_player_stat.insert(0,'rank',rank)
    return tracked_player_stat

In [44]:
def top_position(team_stats,position): # get the forwards in the league
    if team_stats.minutes.sum() == 0:
        if position == 'f':
            condensed_player_info = pd.DataFrame([('NA',0,0,0,0,0,0,0,0,0,0,0,0,0,0)],columns=['team','name','number','position','minutes','goals','chances','assists','shots','s-target','passes','crosses','duels','tackles','overall'])
        if position == 'm':
            condensed_player_info = pd.DataFrame([('NA',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)],columns=['team','name','number','position','minutes','goals','assists','touches','passes','pass-acc','crosses','cross-acc','chances','duels','tackles','overall'])
        if position == 'd':
            condensed_player_info = pd.DataFrame([('NA',0,0,0,0,0,0,0,0,0,0,0)],columns=['team','name','number','position','minutes','tackles','t-won','clearances','interceptions','duels','d-won','overall'])
        if position == 'g':
            condensed_player_info = pd.DataFrame([('NA',0,0,0,0,0,0,0,0,0)],columns=['team','name','number','position','minutes','cs','saves','shots faced','claimed crosses','overall'])
        condensed_player_info = pd.DataFrame([('NA',0,0,0,0,0,0,0,0,0,0,0,0,0,0)],columns=['team','name','number','position','minutes','goals','chances','assists','shots','shots on target','passes','crosses','duels','tackles','overall'])
        return condensed_player_info
    player_information = team_stats.copy() # load player information
    if position == 'f':
        cols = ['team','name','number','position','minutes','goals','chances','assists','shots','s-target','passes','crosses','duels','tackles']
    if position == 'm':
        cols = ['team','name','number','position','minutes','goals','assists','touches','passes','pass-acc','crosses','cross-acc','chances','duels','tackles']
    if position == 'd':
        cols = ['team','name','number','position','minutes','tackles','t-won','clearances','interceptions','duels','d-won']
    if position == 'g':
        cols = ['team','name','number','position','minutes','cs','saves','shots faced','claimed crosses']
    full_player_info = player_information[player_information['position'] == position] # get the forwards where position = f
    condensed_player_info = full_player_info[cols] # select specific columns associated with the evaluation
    condensed_player_info = get_evaluation(condensed_player_info,full_player_info) # condensed Dataframe and full Dataframe being passes
    condensed_player_info = index_reset(condensed_player_info)
    names = condensed_player_info.name.unique() # get the names of the players who fit the criteria
    condensed_player_info = condensed_player_info.set_index('name') # set the index to the name column to make the search possible
    if position == 'f':
        for name in names:
            player = full_player_info[full_player_info['name'] == name].head(1) # forwards main purpose is to score goals
            if (player.iloc[0]['goals'] <= 2.0 and player.iloc[0]['minutes'] >= 1000.0): # if player scores less than 2 & has minutes greater than 1000
                condensed_player_info.at[name,'overall'] = condensed_player_info.at[name,'overall'] - 0.1
            if player.iloc[0]['goals'] >= 8.0: # reward forwards scoring greater than 8 goals
                condensed_player_info.at[name,'overall'] = condensed_player_info.at[name,'overall'] + 0.15
    condensed_player_info = condensed_player_info.sort_values(by=['overall'],ascending=False)
    condensed_player_info = condensed_player_info.reset_index()
    team = condensed_player_info.pop('team')
    condensed_player_info.insert(0,'team',team)
    return condensed_player_info

In [45]:
def top_offenders(data):  # get the offences handed out in the league
    if data.minutes.sum() == 0:
        db = pd.DataFrame([('NA',0,0,0,0,0,0)],columns=['team','name','number','minutes','yellow','red','f-conceded'])
        return db
    player_information = data.copy()
    cols = ['team','name','position','number','minutes','yellow','red','f-conceded']
    df = player_information
    db = df[cols]
    db = get_evaluation(db,df)
    db = db.sort_values(by=['red','yellow'],ascending=False)
    db = db.reset_index()
    db.pop('index')
    team = db.pop('team')
    db.insert(0,'team',team)
    return db

In [46]:
rated_goalscorers = top_tracked(team_stats,'goals')
rated_assists = top_tracked(team_stats,'assists')
rated_assists.head(10)

  team  name  number  minutes  assists
0   NA     0       0        0        0

In [47]:
rated_goalscorers.head(10)

  team  name  number  minutes  goals
0   NA     0       0        0      0

In [48]:
rated_forwards = top_position(team_stats,'f')
rated_midfielders = top_position(team_stats,'m')
rated_defenders = top_position(team_stats,'d')
rated_keepers = top_position(team_stats,'g')
rated_offenders = top_offenders(team_stats)

In [49]:
rated_forwards.head(10)

,team,name,number,position,minutes,goals,chances,assists,shots,shots on target,passes,crosses,duels,tackles,overall
0,NA,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [50]:
rated_midfielders.head(10)

,team,name,number,position,minutes,goals,chances,assists,shots,shots on target,passes,crosses,duels,tackles,overall
0,NA,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [51]:
rated_defenders.head(10)

,team,name,number,position,minutes,goals,chances,assists,shots,shots on target,passes,crosses,duels,tackles,overall
0,NA,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [52]:
rated_keepers.head(10)

,team,name,number,position,minutes,goals,chances,assists,shots,shots on target,passes,crosses,duels,tackles,overall
0,NA,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [53]:
rated_offenders.head(20)

  team  name  number  minutes  yellow  red  f-conceded
0   NA     0       0        0       0    0           0

In [54]:
def get_match_tables(data,query):
    db = data[data['home'] == query]
    db = pd.concat([db,data[data['away'] == query]])
    db = db.sort_values(by=['m','d'])
    return db

def likelihood_input(array,a_list):
    b = a_list[0]
    c = a_list[1]
    d = a_list[2]
    array.append(b)
    array.append(c)
    array.append(d)
    return array

def likelihood_table(data,query):
    df = get_match_tables(data,query)
    array = []
    cols = data.columns
    for row in range(0,df.shape[0]):
        if df.iloc[row]['home'] == query:
            if df.iloc[row]['hr'] == 'W':
                array = likelihood_input(array,[[1,2,1],[1,0,0],[1,1,0]])
            if df.iloc[row]['hr'] == 'L':
                array = likelihood_input(array,[[1,2,0],[1,0,1],[1,1,0]])
            if df.iloc[row]['hr'] == 'D':
                array = likelihood_input(array,[[1,2,0],[1,0,0],[1,1,1]])
        if df.iloc[row]['away'] == query:
            if df.iloc[row]['ar'] == 'W':
                array = likelihood_input(array,[[2,2,1],[2,0,0],[2,1,0]])
            if df.iloc[row]['ar'] == 'L':
                array = likelihood_input(array,[[2,2,0],[2,0,1],[2,1,0]])
            if df.iloc[row]['ar'] == 'D':
                array = likelihood_input(array,[[2,2,1],[2,0,0],[2,1,1]])
    db= pd.DataFrame(array,columns=['h/a','w/l/d','y/n'])
    return db

def get_team_comparison(data,q1,q2):
    # getting games with q1 in both home or away
    db = data[data['team'] == q1]
    db = db.reset_index()
    db.pop('index')
    # filering down more to get only the games against q2
    db = db.sort_values(by=['m','d'])
    db = db[(db['home'] == q2) | (db['away'] == q2)]
    db = db.reset_index()
    db.pop('index')
    if db.empty == True:
        db = pd.DataFrame([(0,0,0,0,q1,'D',q2,'D','empty',q1)],columns=['d','m','hs','as','home','hr','away','ar','summary','team'])
    return db

def get_NB_data(data,query):
    db = likelihood_table(data,query)
    dy = db.pop('y/n').to_list()
    dx = [tuple(x) for x in db.values]
    return dx, dy

In [55]:
schedule = get_schedule(results_diff)
schedule

     game              home              away
5    II10        Cavalry FC          York9 FC
95  II100        Pacific FC        Cavalry FC
96  II101  HFX Wanderers FC         Valour FC
97  II102        Cavalry FC   Atletico Ottawa
98  II103       FC Edmonton          York9 FC
..    ...               ...               ...
90   II95         Valour FC        Cavalry FC
91   II96       FC Edmonton  HFX Wanderers FC
92   II97          Forge FC         Valour FC
93   II98  HFX Wanderers FC          York9 FC
94   II99   Atletico Ottawa       FC Edmonton

[108 rows x 3 columns]

In [56]:
# home side
q1 = schedule.iloc[0]['home']
# away side
q2 = schedule.iloc[0]['away']
print(q1,q2)

Cavalry FC York9 FC

In [57]:
compare = get_team_comparison(results_brief,q1,q2)

In [58]:
compare

   d  m  hs  as        home hr        away ar       summary        team
0  7  1   0   0  Cavalry FC  E    York9 FC  E  E A 0 - 0 Y9  Cavalry FC
1  7  1   0   0  Cavalry FC  E    York9 FC  E  E A 0 - 0 Y9  Cavalry FC
2  7  1   0   0    York9 FC  E  Cavalry FC  E  E A 0 - 0 Y9  Cavalry FC
3  7  1   0   0    York9 FC  E  Cavalry FC  E  E A 0 - 0 Y9  Cavalry FC

In [59]:
t1_x, t1_y = get_NB_data(compare,q1)
t2_x, t2_y = get_NB_data(compare,q2)

### Game Prediction

use Gaussian Naive Bayes model to predict the outcome of a home match.

In [60]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB,BernoulliNB
import statistics

In [61]:
def get_gnb_prediction(query,x,y,result):
    
    gnb = GaussianNB()
    bnb = BernoulliNB()
    # Train the model using the training sets
    
    gnb.fit(x,y)
    bnb.fit(x,y)
    
    # use below instead of predicted = model.predict([result]) because we want the probability
    gnb_pred = np.round(gnb.predict_proba([result])[:, 1],decimals=2)
    bnb_pred = np.round(bnb.predict_proba([result])[:, 1],decimals=2)
    
    pred = round((gnb_pred[0] + bnb_pred[0]) / 2,2)
    #print(gnb_pred[0], bnb_pred[0], pred)
    
    return pred

def get_match_prediction_result(query,x,y,array):
    away_win = str(get_gnb_prediction(query,x,y,array))
    away_win = away_win[0:4]
    return away_win

def get_match_prediction(q1,q2,x1,y1,x2,y2):
    if len(x1) == 0:
        x = round(1/3,2)
        home_win, away_win,draw = x,x,x
        return home_win,away_win,draw
    home_win = get_match_prediction_result(q1,x1,y1,[1,2])
    draw = get_match_prediction_result(q1,x1,y1,[1,1])
    away_win = get_match_prediction_result(q2,x2,y2,[2,2])
    return home_win, draw, away_win

In [62]:
home_win, draw, away_win = get_match_prediction(q1,q2,t1_x,t1_y,t2_x,t2_y)

In [63]:
print(q1,'\nwin probability: ', round(home_win,2))

Cavalry FC
win probability:  0.33

In [64]:
print(q2,'\nwin probability: ', round(away_win,2))

York9 FC
win probability:  0.33

In [65]:
print('Draw probability: ', round(draw,2))

Draw probability:  0.33

In [66]:
round(home_win + draw + away_win,1)

1.0

In [67]:
def get_team_form(data,query):
    db = data[data['team'] == query]
    db = pd.DataFrame(db['summary'])
    return db

def get_form_results(data,dc):
    db = pd.DataFrame()
    form = get_results_brief(data[data['s'] <= 1],dc)
    teams = data.home.unique()
    teams = np.sort(teams,axis=-1)
    for team in teams:
        df = get_team_form(form,team)
        #print(team,'\n',df)
        db[team] = pd.Series(df['summary'].values)
    db = db.T
    db = db.reset_index()
    db = db.fillna('E')
    return db

In [68]:
team_form_results = get_form_results(results,team_ref)
team_form_results

,index,0,1,2,3,4,5,6,7,8,...,18,19,20,21,22,23,24,25,26,27
0,Atletico Ottawa,E A 0 - 0 HFX,E A 0 - 0 PFC,E A 0 - 0 Y9,E A 0 - 0 CFC,E A 0 - 0 Y9,E A 0 - 0 CFC,E A 0 - 0 FFC,E A 0 - 0 VFC,E A 0 - 0 FCE,...,E A 0 - 0 HFX,E A 0 - 0 FCE,E A 0 - 0 FFC,E A 0 - 0 PFC,E A 0 - 0 VFC,E A 0 - 0 CFC,E A 0 - 0 Y9,E A 0 - 0 FCE,E A 0 - 0 PFC,E A 0 - 0 CFC
1,Cavalry FC,E A 0 - 0 Y9,E A 0 - 0 PFC,E A 0 - 0 Y9,E A 0 - 0 VFC,E A 0 - 0 VFC,E A 0 - 0 FFC,E A 0 - 0 FCE,E A 0 - 0 AO,E A 0 - 0 HFX,...,E A 0 - 0 AO,E A 0 - 0 HFX,E A 0 - 0 Y9,E A 0 - 0 FCE,E A 0 - 0 AO,E A 0 - 0 VFC,E A 0 - 0 Y9,E A 0 - 0 VFC,E A 0 - 0 PFC,E A 0 - 0 FFC
2,FC Edmonton,E A 0 - 0 CFC,E A 0 - 0 FFC,E A 0 - 0 PFC,E A 0 - 0 AO,E A 0 - 0 VFC,E A 0 - 0 HFX,E A 0 - 0 VFC,E A 0 - 0 CFC,E A 0 - 0 AO,...,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 CFC,E A 0 - 0 PFC,E A 0 - 0 VFC,E A 0 - 0 AO,E A 0 - 0 CFC,E A 0 - 0 AO,E A 0 - 0 FFC,E A 0 - 0 HFX
3,Forge FC,W A 2 - 1 CFC,E A 0 - 0 AO,E A 0 - 0 HFX,E A 0 - 0 VFC,E A 0 - 0 FCE,E A 0 - 0 AO,E A 0 - 0 PFC,E A 0 - 0 Y9,E A 0 - 0 PFC,...,E A 0 - 0 CFC,E A 0 - 0 VFC,E A 0 - 0 VFC,E A 0 - 0 Y9,E A 0 - 0 AO,E A 0 - 0 CFC,E A 0 - 0 FCE,E A 0 - 0 HFX,E A 0 - 0 AO,E A 0 - 0 PFC
4,HFX Wanderers FC,E A 0 - 0 AO,E A 0 - 0 CFC,E A 0 - 0 FFC,E A 0 - 0 AO,E A 0 - 0 FCE,E A 0 - 0 CFC,E A 0 - 0 Y9,E A 0 - 0 PFC,E A 0 - 0 PFC,...,E A 0 - 0 VFC,E A 0 - 0 FCE,E A 0 - 0 VFC,E A 0 - 0 CFC,E A 0 - 0 Y9,E A 0 - 0 PFC,E A 0 - 0 FFC,E A 0 - 0 AO,E A 0 - 0 FCE,E A 0 - 0 CFC
5,Pacific FC,W A 3 - 1 FCE,E A 0 - 0 HFX,E A 0 - 0 VFC,E A 0 - 0 FFC,E A 0 - 0 CFC,E A 0 - 0 VFC,E A 0 - 0 AO,E A 0 - 0 FCE,E A 0 - 0 Y9,...,E A 0 - 0 Y9,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 FCE,E A 0 - 0 CFC,E A 0 - 0 VFC,E A 0 - 0 Y9,E A 0 - 0 AO
6,Valour FC,E A 0 - 0 AO,E A 0 - 0 FCE,E A 0 - 0 HFX,E A 0 - 0 PFC,E A 0 - 0 FFC,E A 0 - 0 AO,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 FCE,...,E A 0 - 0 PFC,E A 0 - 0 CFC,E A 0 - 0 Y9,E A 0 - 0 FCE,E A 0 - 0 FCE,E A 0 - 0 AO,E A 0 - 0 HFX,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 AO
7,York9 FC,W A 1 - 0 HFX,L A 1 - 2 VFC,E A 0 - 0 FCE,E A 0 - 0 AO,E A 0 - 0 FCE,E A 0 - 0 FFC,E A 0 - 0 VFC,E A 0 - 0 PFC,E A 0 - 0 CFC,...,E A 0 - 0 AO,E A 0 - 0 FFC,E A 0 - 0 PFC,E A 0 - 0 FCE,E A 0 - 0 VFC,E A 0 - 0 FFC,E A 0 - 0 HFX,E A 0 - 0 FCE,E A 0 - 0 VFC,E A 0 - 0 PFC

In [69]:
def get_roster(query,stats,team_ref): # use team stats to get the player information
    roster = get_stats_all(stats,team_ref)
    roster = roster[roster['team'] == query]
    roster = roster[['name','number','position']]
    roster.insert(3,'overall',0)
    roster = index_reset(roster)
    return roster

def get_home_away_comparison(stats,game,team):
    db = stats[stats['game'] == game].copy()
    db = db[db['team'] == team]
    db = db.sort_values(by=['minutes'],ascending=False)
    db = db#[0:11]
    db = db['name']
    return db

In [70]:
check = get_roster('Cavalry FC',stats,team_ref)
check

                  name  number position  overall
0        Aribim Pepple      24        f        0
1          Bruno Zebie      16        m        0
2       Dominick Zator       4        d        0
3      Elijah Adekugbe       8        m        0
4       Elliot Simmons      15        m        0
5         Jair CÃ³rdova      19        f        0
6         Jay Wheeldon      14        d        0
7         Jordan Brown       9        f        0
8       JosÃ© Escalante      11        m        0
9       JosÃ© HernÃ¡ndez      20        f        0
10      Marco Carducci       1        g        0
11      Mason Trafford       5        d        0
12       Mohamed Farsi       0        d        0
13       Nathan Mavila       3        d        0
14      Nico Pasquotti      17        f        0
15      Nik Ledgerwood       6        m        0
16  Niko Giantsopoulos      22        g        0
17      Oliver Minatel       7        f        0
18        Richard Luca      23        m        0
19     Robert Boskovic       0        d        0
20      Sergio Camargo      10        m        0

In [71]:
def get_compare_roster(results,query,stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers):
    # going through the rated players to get the best players for each position
    # using game_h,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,results,team_stats
    def get_player_info(data,player,position,num):
        player_info = data[data['name'] == name]
        if player_info.empty:
            player_row = [name,player.iloc[0][1],position,0,num]
            
        else:
            player_row = player_info.iloc[0].copy()
            player_row['asc'] = num
        return player_row
    roster = get_roster(query,stats,team_ref)
    keepers = [] # lists for each position
    forwards = []
    midfields = []
    defenders = []
    for name in roster['name']:
        player = roster[roster['name'] == name]
        if player.iloc[0][2] == 'f':
            player_info = get_player_info(rated_forwards,player,'f',0)
            forwards.append(player_info)
        if player.iloc[0][2] == 'm':
            player_info = get_player_info(rated_midfielders,player,'m',1)
            midfields.append(player_info)
        if player.iloc[0][2] == 'd':
            player_info = get_player_info(rated_defenders,player,'d',2)
            defenders.append(player_info)
        if player.iloc[0][2] == 'g':
            player_info = get_player_info(rated_keepers,player,'g',3)
            keepers.append(player_info)
    db = pd.DataFrame(keepers,columns=['name','number','position','overall','asc'])
    db = db.sort_values(by=['asc','overall'],ascending=False)
    dd = pd.DataFrame(defenders,columns=['name','number','position','overall','asc'])
    dd = dd.sort_values(by=['asc','overall'],ascending=False)
    dm = pd.DataFrame(midfields,columns=['name','number','position','overall','asc'])
    dm = dm.sort_values(by=['asc','overall'],ascending=False)
    df = pd.DataFrame(forwards,columns=['name','number','position','overall','asc'])
    df = df.sort_values(by=['asc','overall'],ascending=False)
    db = pd.concat([db[0:1],dd[0:4],dm[0:4],df[0:2]])
    #db = pd.concat([db,dd,dm,df])
    db = db[['name','number','position','overall','asc']]
    if results.iloc[0]['hr'] == 'E': # check if games haven't been played
        db = db.sort_values(by=['asc'],ascending=False)
    else:
        db = db.sort_values(by=['asc','overall'],ascending=False)
    db = index_reset(db)
    db.pop('asc')
    return db

In [72]:
'''standings.to_csv(f'datasets/{year}/cpl-{year}-standings.csv',index=False)
#championship.to_csv(f'datasets/{year}/cpl-{year}-championship.csv',index=False)
power_rankings.to_csv(f'datasets/{year}/cpl-{year}-power_rankings.csv',index=False)
results_brief.to_csv(f'datasets/{year}/cpl-{year}-results_brief.csv',index=False)
schedule.to_csv(f'datasets/{year}/cpl-{year}-schedule.csv',index=False)
team_stats.to_csv(f'datasets/{year}/cpl-{year}-team_stats.csv',index=False)
rated_forwards.to_csv(f'datasets/{year}/cpl-{year}-forwards.csv',index=False)
rated_midfielders.to_csv(f'datasets/{year}/cpl-{year}-midfielders.csv',index=False)
rated_defenders.to_csv(f'datasets/{year}/cpl-{year}-defenders.csv',index=False)
rated_keepers.to_csv(f'datasets/{year}/cpl-{year}-keepers.csv',index=False)
rated_offenders.to_csv(f'datasets/{year}/cpl-{year}-discipline.csv',index=False)
rated_goalscorers.to_csv(f'datasets/{year}/cpl-{year}-rated_goalscorers.csv',index=False)
rated_assists.to_csv(f'datasets/{year}/cpl-{year}-rated_assists.csv',index=False)
team_form_results.to_csv(f'datasets/{year}/cpl-{year}-team_form.csv',index=False)
#h1_roster.to_csv(f'datasets/{year}/teams/cpl-{year}-{q1}_final_scores.csv')
#team_form_results.to_csv(f'datasets/{year}/cpl-{year}-team_form.csv',index=False)'''

"standings.to_csv(f'datasets/{year}/cpl-{year}-standings.csv',index=False)\n#championship.to_csv(f'datasets/{year}/cpl-{year}-championship.csv',index=False)\npower_rankings.to_csv(f'datasets/{year}/cpl-{year}-power_rankings.csv',index=False)\nresults_brief.to_csv(f'datasets/{year}/cpl-{year}-results_brief.csv',index=False)\nschedule.to_csv(f'datasets/{year}/cpl-{year}-schedule.csv',index=False)\nteam_stats.to_csv(f'datasets/{year}/cpl-{year}-team_stats.csv',index=False)\nrated_forwards.to_csv(f'datasets/{year}/cpl-{year}-forwards.csv',index=False)\nrated_midfielders.to_csv(f'datasets/{year}/cpl-{year}-midfielders.csv',index=False)\nrated_defenders.to_csv(f'datasets/{year}/cpl-{year}-defenders.csv',index=False)\nrated_keepers.to_csv(f'datasets/{year}/cpl-{year}-keepers.csv',index=False)\nrated_offenders.to_csv(f'datasets/{year}/cpl-{year}-discipline.csv',index=False)\nrated_goalscorers.to_csv(f'datasets/{year}/cpl-{year}-rated_goalscorers.csv',index=False)\nrated_assists.to_csv(f'datasets/{year}/cpl-{year}-rated_assists.csv',index=False)\nteam_form_results.to_csv(f'datasets/{year}/cpl-{year}-team_form.csv',index=False)\n#h1_roster.to_csv(f'datasets/{year}/teams/cpl-{year}-{q1}_final_scores.csv')\n#team_form_results.to_csv(f'datasets/{year}/cpl-{year}-team_form.csv',index=False)"

In [73]:
h1_roster = get_compare_roster(results,q1,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers)
h1_roster

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

               name  number position  overall
0    Marco Carducci       1        g        0
1    Dominick Zator       4        d        0
2      Jay Wheeldon      14        d        0
3    Mason Trafford       5        d        0
4     Mohamed Farsi       0        d        0
5       Bruno Zebie      16        m        0
6   Elijah Adekugbe       8        m        0
7    Elliot Simmons      15        m        0
8    JosÃ© Escalante      11        m        0
9     Aribim Pepple      24        f        0
10     Jair CÃ³rdova      19        f        0

In [74]:
def get_roster_overall(query,stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,player_info): # use team stats to get the player information
    def get_score(data,name):
        db = data[data['name'] == name]
        if db.empty:
            db = 0
        else:
            db = db['overall'].values
            db = db[0]
        return db
    def get_image(data,name):
        db = data[data['name'] == name]
        if db['image'].empty:
            db = 'empty.jpg'
        else:
            db = db['image'].values
            db = db[0]
        return db
    def get_link(data,name):
        db = data[data['name'] == name]
        if db['link'].empty:
            db = 'https://en.wikipedia.org/wiki/Canadian_Premier_League'
        else:
            db = db['link'].values
            db = db[0]
        return db
    def get_flag(data,name):
        db = data[data['name'] == name]
        if db['flag'].empty:
            db = 'empty.png'
        else:
            db = db['flag'].values
            db = db[0]
        return db
    roster = get_stats_all(stats,team_ref)
    roster = roster[roster['team'] == query].copy()
    roster = roster[['name','first','last','number','position']] # scale the dataframe down to what we need
    #roster.insert(3,'overall',a)
    a = []
    b = []
    c = []
    d = []
    for i in range(0,roster.shape[0]):
        if roster.iloc[i]['position'] == 'f':
            score = str(get_score(rated_forwards,roster.iloc[i]['name']))
            a.append(score[0:4])
            b.append(get_image(player_info,roster.iloc[i]['name']))
            c.append(get_flag(player_info,roster.iloc[i]['name']))
            d.append(get_link(player_info,roster.iloc[i]['name']))
        if roster.iloc[i]['position'] == 'm':
            score = str(get_score(rated_midfielders,roster.iloc[i]['name']))
            a.append(score[0:4])
            b.append(get_image(player_info,roster.iloc[i]['name']))
            c.append(get_flag(player_info,roster.iloc[i]['name']))
            d.append(get_link(player_info,roster.iloc[i]['name']))
        if roster.iloc[i]['position'] == 'd':
            score = str(get_score(rated_defenders,roster.iloc[i]['name']))
            a.append(score[0:4])
            b.append(get_image(player_info,roster.iloc[i]['name']))
            c.append(get_flag(player_info,roster.iloc[i]['name']))
            d.append(get_link(player_info,roster.iloc[i]['name']))
        if roster.iloc[i]['position'] == 'g':
            score = str(get_score(rated_keepers,roster.iloc[i]['name']))
            a.append(score[0:4])
            b.append(get_image(player_info,roster.iloc[i]['name']))
            c.append(get_flag(player_info,roster.iloc[i]['name']))
            d.append(get_link(player_info,roster.iloc[i]['name']))
    roster['overall'] = a
    roster['flag'] = c
    roster['link'] = d
    roster.insert(0,'image',b)
    #roster['image'] = b
    roster = index_reset(roster)
    roster.pop('name')
    return roster

In [75]:
roster = get_roster_overall('Pacific FC',stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,player_info)
roster

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,image,first,last,number,position,overall,flag,link
0,empty.jpg,Abdou,Samake,0,d,0,Mali.png,https://en.wikipedia.org/wiki/Abdou_Samake
1,empty.jpg,Alejandro,DÃ­az,0,f,0,Mexico.png,https://en.wikipedia.org/wiki/Alejandro_DÃ­az
2,Alessandro-Hojabrpour.jpg,Alessandro,Hojabrpour,21,m,0,Canada.png,https://en.wikipedia.org/wiki/Alessandro_Hojab...
3,empty.jpg,Callum,Irving,0,g,0,Canada.png,https://en.wikipedia.org/wiki/Callum_Irving
4,empty.jpg,Jamar,Dixon,0,m,0,Canada.png,https://en.wikipedia.org/wiki/Jamar_Dixon
5,Kadin-Chung.jpg,Kadin,Chung,7,d,0,Canada.png,https://en.wikipedia.org/wiki/Kadin_Chung
6,Lukas-MacNaughton.jpg,Lukas,MacNaughton,6,d,0,Canada.png,https://en.wikipedia.org/wiki/Lukas_MacNaughton
7,empty.jpg,Marcel,deJong,17,d,0,Canada.png,https://en.wikipedia.org/wiki/Marcel_de_Jong
8,Marco-Bustos.jpg,Marco,Bustos,0,m,0,Canada.png,https://en.wikipedia.org/wiki/Marco_Bustos
9,Matthew-Baldisimo.jpg,Matthew,Baldisimo,8,m,0,Canada.png,https://en.wikipedia.org/wiki/Matthew_Baldisimo
10,Noah-Verhoeven.jpg,Noah,Verhoeven,19,m,0,Canada.png,https://en.wikipedia.org/wiki/Noah_Verhoeven
11,Nolan-Wirth.jpg,Nolan,Wirth,1,g,0,Canada.png,https://en.wikipedia.org/wiki/Nolan_Wirth
12,Terran-Campbell.jpg,Terran,Campbell,14,f,0,Canada.png,https://en.wikipedia.org/wiki/Terran_Campbell
13,empty.jpg,Thomas,Meilleur-GiguÃ¨re,0,d,0,Canada.png,https://en.wikipedia.org/wiki/Thomas_Meilleur-...
14,Victor-Blasco.jpg,Victor,Blasco,23,m,0,Spain.png,https://en.wikipedia.org/wiki/Victor_Blasco
15,empty.jpg,Zach,Verhoven,16,m,0,Canada.png,https://en.wikipedia.org/wiki/Zachary_Verhoven

In [76]:
schedule.iloc[3]['home']

'Cavalry FC'

In [77]:
game_info = schedule[schedule['home'] == q1]
game_info

      game        home              away
5     II10  Cavalry FC          York9 FC
97   II102  Cavalry FC   Atletico Ottawa
102  II107  Cavalry FC  HFX Wanderers FC
10    II15  Cavalry FC        Pacific FC
18    II23  Cavalry FC          York9 FC
21    II26  Cavalry FC         Valour FC
29    II34  Cavalry FC         Valour FC
35    II40  Cavalry FC          Forge FC
43    II48  Cavalry FC       FC Edmonton
51    II56  Cavalry FC   Atletico Ottawa
60    II65  Cavalry FC  HFX Wanderers FC
74    II79  Cavalry FC          Forge FC
78    II83  Cavalry FC        Pacific FC
85    II90  Cavalry FC       FC Edmonton

In [78]:
game_info.iloc[0]['game']

'II10'

In [79]:
game = game_info.iloc[0]['game']

In [80]:
game_info.iloc[0]['home']

'Cavalry FC'

In [81]:
q2 = game_info.iloc[0]['away']
q2

'York9 FC'

In [82]:
game_h = get_home_away_comparison(stats,game,q1)
game_a = get_home_away_comparison(stats,game,q2)

In [83]:
len(game_h)

0

In [84]:
len(game_a)

0

In [85]:
h1_roster = get_compare_roster(results,q1,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers)
h1_roster

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

               name  number position  overall
0    Marco Carducci       1        g        0
1    Dominick Zator       4        d        0
2      Jay Wheeldon      14        d        0
3    Mason Trafford       5        d        0
4     Mohamed Farsi       0        d        0
5       Bruno Zebie      16        m        0
6   Elijah Adekugbe       8        m        0
7    Elliot Simmons      15        m        0
8    JosÃ© Escalante      11        m        0
9     Aribim Pepple      24        f        0
10     Jair CÃ³rdova      19        f        0

In [86]:
h2_roster = get_compare_roster(results,q2,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers)
h2_roster

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

                   name  number position  overall
0            Colm Vance      31        g        0
1       Diyaeddine Abzi      20        d        0
2           Fugo Segawa       0        d        0
3       Luca Gasparotto      13        d        0
4        Matthew Arnone       0        d        0
5           Brian LÃ³pez       0        m        0
6        Chris Mannella       0        m        0
7        Emilio Estevez      11        m        0
8      Joseph Di Chiara       8        m        0
9       AdriÃ¡n Ugarriza       0        f        0
10  Gabriel Vasconcelos       0        f        0

In [87]:
def get_team_history(data,query):
    df = data[data['away'] == query].copy()
    df = df[['d','m','as','hs','away','ar','home','hr']]
    df = df.rename(columns={'as':'hs','hs':'as','away':'home','ar':'hr','home':'away','hr':'ar'})
    db = data[data['home'] == query].copy()
    db = db[['d','m','hs','as','home','hr','away','ar']]
    db = pd.concat([db,df])
    db = db.tail(5)
    db = db.sort_values(by=['m','d'],ascending=False)
    return db

def get_five_game_form(data,query):
    db = get_team_history(data,query)
    db = db.pop('hr')
    a = []
    for i in db:
        if i == 'W':
            j = [1,0,0]
            a.append(j)
        if i == 'L':
            j = [0,1,0]
            a.append(j)
        if i == 'D':
            j = [0,0,1]
            a.append(j)
    db = pd.DataFrame(a,columns=['w','l','d'])
    db = pd.DataFrame(db.sum())
    return db

In [88]:
cfc = get_five_game_form(results,'Cavalry FC')
cfc

     0
w  0.0
l  0.0
d  0.0

In [89]:
team1_history = get_team_history(results,q1)
team1_history

     d  m  hs  as        home hr        away ar
73   7  1   0   0  Cavalry FC  E   Valour FC  E
85   7  1   0   0  Cavalry FC  E    York9 FC  E
94   7  1   0   0  Cavalry FC  E   Valour FC  E
99   7  1   0   0  Cavalry FC  E  Pacific FC  E
108  7  1   0   0  Cavalry FC  E    Forge FC  E

In [90]:
team1_history = get_five_game_form(results,q1)

In [91]:
team1_history

     0
w  0.0
l  0.0
d  0.0

In [92]:
for i in team1_history:
    if i == 'W':
        print(3)
    if i == 'L':
        print(0)
    if i == 'D':
        print(1)

In [93]:
team2_history = get_team_history(results,q2)
team2_history

     d  m  hs  as      home hr              away ar
90   7  1   0   0  York9 FC  E          Forge FC  E
97   7  1   0   0  York9 FC  E  HFX Wanderers FC  E
102  7  1   0   0  York9 FC  E       FC Edmonton  E
104  7  1   0   0  York9 FC  E         Valour FC  E
111  7  1   0   0  York9 FC  E        Pacific FC  E

In [94]:
test = get_long_name('FFC',team_ref)

In [95]:
test

'Forge FC'

In [96]:
get_games = results['game']
if year == '2019':
    get_games = get_games[:-2]

In [101]:
def get_game_roster_prediction(stats,get_games,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,results,team_stats,team_ref):
    a = []
    for game in get_games: # cycle through the available games
        row = results[results['game'] == game] # select specific game results
        for team in row.iloc[0][['home','away']]: # cycle through the teams for each result
            if row.iloc[0]['home'] == team:
                result = row.iloc[0]['hr'] # get the appropriate result for each team
            else:
                result = row.iloc[0]['ar'] 
            if result == 'W': # alter the value for the model classifier
                result = 3
            elif result == 'D':
                result = 2
            else:
                result = 1
            game_check = get_home_away_comparison(stats,game,team)# get the roster for the team in the game
            # get the player overall score for each player in the game
            #game_roster = get_compare_roster(team,game_check,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,results,team_stats,team_ref)
            game_roster = get_compare_roster(results,team,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers)
            game_roster = index_reset(game_roster)
            b = []
            b.append(game) # collecting all the information in the list
            b.append(team)
            for i in range(game_roster.shape[0]):
                b.append(game_roster.iloc[i]['overall']) # get the player overall score for each player in the game
            if len(b) < 16:
                i = int(16 - len(b))
                for j in range(0,i):
                    b.append(0)
            b.append(int(result))
            a.append(b)
    return a

In [102]:
array = get_game_roster_prediction(stats,get_games,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,results,team_stats,team_ref)

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [103]:
db = pd.DataFrame(array,columns=['game','team','p1','p2','p3','p4','p5','p6','p7','p8','p9','p9','p10','p11','p12','p13','r'])

In [104]:
db

,game,team,p1,p2,p3,p4,p5,p6,p7,p8,p9,p9,p10,p11,p12,p13,r
0,II1,Forge FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
1,II1,Cavalry FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,II2,Pacific FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
3,II2,FC Edmonton,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,II3,York9 FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,II110,FC Edmonton,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
220,II111,Atletico Ottawa,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
221,II111,Valour FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
222,II112,Pacific FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
223,II112,York9 FC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [188]:
db.shape

(196, 17)

In [181]:
def pump_it_up(db):
    df = db.copy()
    dc = df.copy()
    m = df['p1'].copy()
    n = df['p2'].copy()
    o = df['p3'].copy()
    p = df['p4'].copy()
    q = df['p5'].copy()
    r = df['p6'].copy()
    df['p1'] = dc.pop('p8')
    df['p2'] = dc.pop('p10')
    df['p3'] = dc.pop('p12')
    df['p4'] = dc.pop('p9')
    df['p5'] = dc.pop('p11')
    df['p6'] = dc.pop('p13')
    df['p7'] = m
    df['p8'] = n
    df['p9'] = o
    df['p10'] = p
    df['p11'] = q
    df['p12'] = r
    df['p13'] = dc.pop('p7')
    dc = df.copy()
    db = pd.concat([db,df])
    df = dc.copy()
    m = df['p13'].copy()
    n = df['p12'].copy()
    o = df['p11'].copy()
    p = df['p10'].copy()
    q = df['p9'].copy()
    r = df['p8'].copy()
    df['p13'] = dc.pop('p8')
    df['p12'] = dc.pop('p10')
    df['p11'] = dc.pop('p12')
    df['p10'] = dc.pop('p9')
    df['p9'] = dc.pop('p11')
    df['p8'] = dc.pop('p13')
    df['p7'] = m
    df['p6'] = n
    df['p5'] = o
    df['p4'] = p
    df['p3'] = q
    df['p2'] = r
    df['p1'] = dc.pop('p7')
    #dc = df.copy()
    db = pd.concat([db,df])
    db = index_reset(db)
    return db

In [106]:
def pump_it_up(db):
    cols = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11','p12','p13']
    np.random.shuffle(cols)
    df = db.copy()
    dc = df.copy()
    m = df[cols[0]].copy()
    n = df[cols[1]].copy()
    o = df[cols[2]].copy()
    p = df[cols[3]].copy()
    q = df[cols[4]].copy()
    r = df[cols[5]].copy()
    df[cols[0]] = dc.pop(cols[7])
    df[cols[1]] = dc.pop(cols[8])
    df[cols[2]] = dc.pop(cols[9])
    df[cols[3]] = dc.pop(cols[10])
    df[cols[4]] = dc.pop(cols[11])
    df[cols[5]] = dc.pop(cols[12])
    df[cols[6]] = m
    df[cols[7]] = n
    df[cols[8]] = o
    df[cols[9]] = p
    df[cols[10]] = q
    df[cols[11]] = r
    df[cols[12]] = dc.pop(cols[6])
    dc = df.copy()
    db = pd.concat([db,df])
    '''df = dc.copy()
    np.random.shuffle(cols)
    m = df[cols[0]].copy()
    n = df[cols[1]].copy()
    o = df[cols[2]].copy()
    p = df[cols[3]].copy()
    q = df[cols[4]].copy()
    r = df[cols[5]].copy()
    df[cols[0]] = dc.pop(cols[7])
    df[cols[1]] = dc.pop(cols[8])
    df[cols[2]] = dc.pop(cols[9])
    df[cols[3]] = dc.pop(cols[10])
    df[cols[4]] = dc.pop(cols[11])
    df[cols[5]] = dc.pop(cols[12])
    df[cols[6]] = m
    df[cols[7]] = n
    df[cols[8]] = o
    df[cols[9]] = p
    df[cols[10]] = q
    df[cols[11]] = r
    df[cols[12]] = dc.pop(cols[6])
    #dc = df.copy()
    db = pd.concat([db,df])'''
    db = index_reset(db)
    return db

In [189]:
df = pump_it_up(db)
df.shape

(588, 17)

In [190]:
db = pump_it_up(df)
db.shape

(1764, 17)

In [191]:
df = pump_it_up(db)
df.shape

(5292, 17)

In [192]:
db = pump_it_up(df)
db.shape

(15876, 17)

In [113]:
db.pop('game')
db.pop('team')
print('done')

done

In [114]:
y = db.pop('r')
X = db

In [115]:
#importing libraries from sklearn
from sklearn import tree
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler#,Imputer
from sklearn import metrics
#colours = sns.set_palette('pastel')

In [116]:
# import algorithm modules
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier, BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

In [118]:
seed = 7

In [119]:
#DecisionTreeRegressor
def decisionTree(x,y):
    model = DecisionTreeClassifier(criterion='gini',
                                   splitter='random',
                                   max_depth=8,
                                   max_features='log2')
    model.fit(x, y)
    return model

dt = decisionTree(X_train, y_train)

#K Neighbors Classifier
# algorithm = â€˜autoâ€™, â€˜ball_treeâ€™, â€˜kd_treeâ€™, â€˜bruteâ€™
def kNeighbors(x,y):
    model = KNeighborsClassifier(algorithm = 'auto',
                                 leaf_size=30,
                                 metric='minkowski',
                                 metric_params=None,
                                 n_jobs=1,
                                 n_neighbors=5,
                                 p=2,
                                 weights='uniform')
    model.fit(x, y)
    return model
    
knn = kNeighbors(X_train, y_train)

#Create a Gaussian Classifier
def gaussianNB(x,y):
    model = GaussianNB(priors=None,
                       var_smoothing=1e-09)
    model.fit(x, y)
    return model
    
gnbC = gaussianNB(X_train, y_train)

In [121]:
#Random Forest Regression
def forestRegression_1(x,y):
    model = RandomForestClassifier(n_estimators = 100,
                                   min_samples_leaf = 5,
                                   min_samples_split = 12,
                                   random_state = 0,
                                   max_depth = 80)
    model.fit(x, y)
    return model
    
rf1 = forestRegression_1(X_train, y_train)

#Create a svm Classifier
def SVM_1(x,y):
    model = svm.SVC(kernel='poly',
                    degree=8,
                    gamma ='auto',
                    probability=True)
    # kernel = â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™, â€˜precomputedâ€™
    # gamma = â€˜scaleâ€™, â€˜autoâ€™
    model.fit(x, y)
    return model

svm1 = SVM_1(X_train, y_train)

In [122]:
# Bagged Decision Trees for Classification - necessary dependencies
def baggedTree(x,y,seed):
    model = BaggingClassifier(base_estimator=rf1,
                              n_estimators=10,
                              random_state=seed)
    model.fit(x, y)
    return model

bag = baggedTree(X_train, y_train,seed)

# AdaBoost Classification
def adaBoost(x,y,seed):
    model = AdaBoostClassifier(n_estimators=70,
                               random_state=seed,
                               algorithm='SAMME')
    model.fit(x, y)
    return model
    
ada = adaBoost(X_train, y_train,seed)

# Voting Ensemble for Classification
def ensembleClassifier(x,y):
    # create the sub models
    estimators = []
    estimators.append(('rf1', rf1))
    estimators.append(('knn', knn))
    estimators.append(('bag', bag))

    # create the ensemble model
    model = VotingClassifier(estimators,voting='soft',weights=[0.83,0.79,0.82])
    model.fit(x,y)
    return model

ens = ensembleClassifier(X_train, y_train)

In [123]:
def check(a,b):
    if a == b:
        result = '<'
    else:
        result = '-'
    return result

In [124]:
print('rf1',rf1.score(X_train, y_train))
print('ens',ens.score(X_train, y_train))
print('bag',bag.score(X_train, y_train))
print('knn',knn.score(X_train, y_train))

rf1 0.7283599088838268
ens 0.6789293849658314
bag 0.6652619589977221
knn 0.5865603644646925

In [125]:
random_nums = np.random.randint(low=1, high=58, size=(20))

In [126]:
def print_pred_results(model,result,num):
    print('model          : ', result, check(result,y_test.iloc[num]))

def predictionTest(num,model1,model2,model3):
    p = X_test.iloc[num].tolist()
    result1 = model1.predict([p]).flatten()
    result2 = model2.predict([p]).flatten()
    result3 = model3.predict([p]).flatten()
    print('\nActual       : ',y_test.iloc[num])
    print_pred_results(model1,result1,num)
    print_pred_results(model2,result2,num)
    print_pred_results(model3,result3,num)

In [127]:
for i in random_nums:
    predictionTest(i,rf1,knn,bag)

Actual       :  2
model          :  [1] -
model          :  [1] -
model          :  [1] -

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  3
model          :  [3] <
model          :  [3] <
model          :  [3] <

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  3
model          :  [1] -
model          :  [1] -
model          :  [1] -

Actual       :  3
model          :  [3] <
model          :  [2] -
model          :  [3] <

Actual       :  1
model          :  [1] <
model          :  [2] -
model          :  [1] <

Actual       :  3
model          :  [3] <
model          :  [3] <
model          :  [3] <

Actual       :  1
model          :  [1] <
model          :  [3] -
model          :  [3] -

Actual       :  3
model          :  [1] -
model          :  [1] -
model          :  [1] -

Actual       :  3
model          :  [3] <
model          :  [3] <
model          :  [3] <

Actual       :  2
model          :  [3] -
model          :  [1] -
model          :  [3] -

Actual       :  3
model          :  [3] <
model          :  [2] -
model          :  [3] <

Actual       :  2
model          :  [1] -
model          :  [1] -
model          :  [1] -

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  3
model          :  [3] <
model          :  [3] <
model          :  [3] <

Actual       :  1
model          :  [1] <
model          :  [1] <
model          :  [1] <

Actual       :  2
model          :  [1] -
model          :  [1] -
model          :  [1] -

In [153]:
def cycle_prob_test(num,model):
    p = X_test.iloc[num].tolist()
    e = model.predict_proba([p]).flatten()
    return e.tolist()

def cycle_pred_test(num,model):
    p = X_test.iloc[num].tolist()
    e = model.predict([p]).flatten()
    if e == y_test.iloc[num]:
        a = 1
    else:
        a = 0
    return a

def model_pred_test(model):
    b = []
    prob = []
    for i in random_nums:
        b.append(cycle_pred_test(i,model))
        prob.append(cycle_prob_test(i,model))
    dz = pd.DataFrame(b)
    df = pd.DataFrame(prob)
    c = str(float(dz.sum().values / 20))
    print('score :',c)
    #print(df)
    #return df

In [154]:
test_check = model_pred_test(knn)

score : 0.5

In [155]:
model_pred_test(ada)

score : 0.65

In [156]:
model_pred_test(bag)

score : 0.65

In [157]:
model_pred_test(rf1)

score : 0.7

In [158]:
model_pred_test(ens)

score : 0.7

In [135]:
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras

# Helper libraries
import matplotlib.pyplot as plt

print(tf.__version__)

2.1.0

In [136]:
# import TENSORFLOW and KERAS libraries

import tensorflow as tf

from tensorflow import keras
from keras.utils import np_utils
from keras import optimizers
from keras.models import Model, Sequential
from keras.layers import Input, Dense, Flatten, Conv2D, MaxPool2D, LeakyReLU, BatchNormalization, Dropout
from keras.layers.merge import concatenate
from keras.layers.recurrent import LSTM
from keras.optimizers import SGD

Using TensorFlow backend.

In [137]:
# Insert Hyperparameters
LEARNRATE = 0.001
EPOCHS = 20
BATCH_SIZE = 128

In [138]:
INPUT_SHAPE = X_train.shape[1] # number of features - get the len() number of the dataset's columns
DENSE_64 = INPUT_SHAPE * 64
DENSE_32 = INPUT_SHAPE * 32
DENSE_16 = INPUT_SHAPE * 16
DENSE_8 = INPUT_SHAPE * 8
DENSE_4 = INPUT_SHAPE * 4
DENSE_2 = INPUT_SHAPE * 2
DENSE_1 = INPUT_SHAPE
DENSE_CUT = int(INPUT_SHAPE / 2)

print('input:',INPUT_SHAPE,
      '\ndense layers',
      '\n64   :',DENSE_64,
      '\n32   :',DENSE_32,
      '\n16   :',DENSE_16,
      '\n8    :',DENSE_8,
      '\n4    :',DENSE_4,
      '\n2    :',DENSE_2,
      '\n1    :',DENSE_1,
      '\ncut  :',DENSE_CUT)

input: 14
dense layers
64   : 896
32   : 448
16   : 224
8    : 112
4    : 56
2    : 28
1    : 14
cut  : 7

In [139]:
def nNet():
    vis = Input(shape=(INPUT_SHAPE,))
    h1 = Dense(DENSE_64, activation='relu', name = "Hidden_Layer_1")(vis)
    h2 = Dense(DENSE_64, activation='relu', name = "Hidden_Layer_2")(h1)
    h3 = Dense(DENSE_32, activation='relu', name = "Hidden_Layer_3")(h2)
    h4 = Dense(DENSE_16, activation='relu', name = "Hidden_Layer_4")(h3)
    out = Dense(DENSE_1, activation='softmax', name = "Output_Layer")(h4)
    model = Model(vis, out)
    return model

In [140]:
tfn = nNet()
tfn.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 14)                0
_________________________________________________________________
Hidden_Layer_1 (Dense)       (None, 896)               13440
_________________________________________________________________
Hidden_Layer_2 (Dense)       (None, 896)               803712
_________________________________________________________________
Hidden_Layer_3 (Dense)       (None, 448)               401856
_________________________________________________________________
Hidden_Layer_4 (Dense)       (None, 224)               100576
_________________________________________________________________
Output_Layer (Dense)         (None, 14)                3150
=================================================================
Total params: 1,322,734
Trainable params: 1,322,734
Non-trainable params: 0
_________________________________________________________________

In [141]:
tfn.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['mae','mse','accuracy'])

In [142]:
tfn_history = tfn.fit(X_train,
                  y_train,
                  epochs = EPOCHS,
                  verbose = 1)

Epoch 1/20
8780/8780 [==============================] - 12s 1ms/step - loss: 2.3743 - mae: 1.9251 - mse: 4.5367 - accuracy: 0.0000e+00
Epoch 2/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 3/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 4/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 5/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 6/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 7/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 8/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 9/20
8780/8780 [==============================] - 10s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 10/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 11/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 12/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 13/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 14/20
8780/8780 [==============================] - 12s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 15/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 16/20
8780/8780 [==============================] - 10s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 17/20
8780/8780 [==============================] - 10s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 18/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 19/20
8780/8780 [==============================] - 11s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00
Epoch 20/20
8780/8780 [==============================] - 10s 1ms/step - loss: 2.3703 - mae: 1.9251 - mse: 4.5381 - accuracy: 0.0000e+00

In [143]:
test_loss, test_acc = tfn.evaluate(X_train,
                                   y_train,
                                   verbose=2)
print('\nTest accuracy:', test_acc)

ValueError: too many values to unpack (expected 2)