In [1]:
import re
import numpy as np
import pandas as pd
import cpl_main as cpl

In [2]:
results = pd.read_csv(f'datasets/soccer-nn-train.csv')

In [3]:
results

,game,team,p1,p2,p3,p4,p5,p6,p7,p8,p9,p9.1,p10,p11,p12,p13,r,s
0,I1,Forge FC,0.71,0.89,0.74,0.71,0.48,0.89,0.77,0.52,0.50,0.48,0.42,0,0,0,2,1
1,I1,York9 FC,0.93,0.92,0.91,0.86,0.41,0.78,0.65,0.64,0.46,0.70,0.47,0,0,0,2,1
2,I2,Pacific FC,0.54,0.78,0.69,0.50,0.39,0.72,0.69,0.57,0.51,0.79,0.27,0,0,0,3,1
3,I2,HFX Wanderers FC,0.54,0.92,0.77,0.67,0.62,0.57,0.52,0.47,0.37,0.77,0.28,0,0,0,1,0
4,I3,Pacific FC,0.54,0.78,0.69,0.50,0.39,0.72,0.69,0.57,0.51,0.79,0.27,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1785,XVIII389,Atlanta,0.73,0.82,0.74,0.70,0.53,0.94,0.85,0.62,0.40,0.84,0.03,0,0,0,1,1
1786,XVIII390,NY Red Bulls,0.72,0.74,0.63,0.60,0.58,0.79,0.70,0.69,0.61,0.06,0.03,0,0,0,3,1
1787,XVIII390,Orlando City,0.58,0.71,0.43,0.36,0.26,0.66,0.40,0.33,0.33,0.62,0.47,0,0,0,1,0
1788,XVIII391,NYCFC,0.77,0.66,0.56,0.46,0.42,0.97,0.60,0.54,0.49,0.67,0.33,0,0,0,3,3
1789,XVIII391,Philadelphia,0.85,0.82,0.72,0.46,0.39,0.80,0.72,0.66,0.65,0.44,0.00,0,0,0,1,1

In [4]:
results.shape

(1790, 18)

In [5]:
def pump_it_up(db):
    df = db.copy()
    dc = df.copy()
    m = df['p1'].copy()
    n = df['p2'].copy()
    o = df['p3'].copy()
    p = df['p4'].copy()
    q = df['p5'].copy()
    r = df['p6'].copy()
    df['p1'] = dc.pop('p8')
    df['p2'] = dc.pop('p10')
    df['p3'] = dc.pop('p12')
    df['p4'] = dc.pop('p9')
    df['p5'] = dc.pop('p11')
    df['p6'] = dc.pop('p13')
    df['p7'] = m
    df['p8'] = n
    df['p9'] = o
    df['p10'] = p
    df['p11'] = q
    df['p12'] = r
    df['p13'] = dc.pop('p7')
    dc = df.copy()
    db = pd.concat([db,df])
    df = dc.copy()
    m = df['p13'].copy()
    n = df['p12'].copy()
    o = df['p11'].copy()
    p = df['p10'].copy()
    q = df['p9'].copy()
    r = df['p8'].copy()
    df['p13'] = dc.pop('p8')
    df['p12'] = dc.pop('p10')
    df['p11'] = dc.pop('p12')
    df['p10'] = dc.pop('p9')
    df['p9'] = dc.pop('p11')
    df['p8'] = dc.pop('p13')
    df['p7'] = m
    df['p6'] = n
    df['p5'] = o
    df['p4'] = p
    df['p3'] = q
    df['p2'] = r
    df['p1'] = dc.pop('p7')
    #dc = df.copy()
    db = pd.concat([db,df])
    db = cpl.index_reset(db)
    return db

def pump_it_up(db):
    cols = ['p1','p2','p3','p4','p5','p6','p7','p8','p9','p10','p11','p12','p13']
    np.random.shuffle(cols)
    df = db.copy()
    dc = df.copy()
    m = df[cols[0]].copy()
    n = df[cols[1]].copy()
    o = df[cols[2]].copy()
    p = df[cols[3]].copy()
    q = df[cols[4]].copy()
    r = df[cols[5]].copy()
    df[cols[0]] = dc.pop(cols[7])
    df[cols[1]] = dc.pop(cols[8])
    df[cols[2]] = dc.pop(cols[9])
    df[cols[3]] = dc.pop(cols[10])
    df[cols[4]] = dc.pop(cols[11])
    df[cols[5]] = dc.pop(cols[12])
    df[cols[6]] = m
    df[cols[7]] = n
    df[cols[8]] = o
    df[cols[9]] = p
    df[cols[10]] = q
    df[cols[11]] = r
    df[cols[12]] = dc.pop(cols[6])
    dc = df.copy()
    db = pd.concat([db,df])
    '''df = dc.copy()
    np.random.shuffle(cols)
    m = df[cols[0]].copy()
    n = df[cols[1]].copy()
    o = df[cols[2]].copy()
    p = df[cols[3]].copy()
    q = df[cols[4]].copy()
    r = df[cols[5]].copy()
    df[cols[0]] = dc.pop(cols[7])
    df[cols[1]] = dc.pop(cols[8])
    df[cols[2]] = dc.pop(cols[9])
    df[cols[3]] = dc.pop(cols[10])
    df[cols[4]] = dc.pop(cols[11])
    df[cols[5]] = dc.pop(cols[12])
    df[cols[6]] = m
    df[cols[7]] = n
    df[cols[8]] = o
    df[cols[9]] = p
    df[cols[10]] = q
    df[cols[11]] = r
    df[cols[12]] = dc.pop(cols[6])
    #dc = df.copy()
    db = pd.concat([db,df])'''
    db = index_reset(db)
    return db

In [6]:
df = pump_it_up(results)
df.shape

(5370, 18)

In [7]:
db = pump_it_up(df)
db.shape

(16110, 18)

In [7]:
db = df.copy()

In [8]:
db.pop('game')
db.pop('team')
y = db.pop('r')
db.pop('s')
X = db

In [9]:
X.head(2)

,p1,p2,p3,p4,p5,p6,p7,p8,p9,p9.1,p10,p11,p12,p13
0,0.71,0.89,0.74,0.71,0.48,0.89,0.77,0.52,0.50,0.48,0.42,0.0,0.0,0.0
1,0.93,0.92,0.91,0.86,0.41,0.78,0.65,0.64,0.46,0.70,0.47,0.0,0.0,0.0

In [10]:
#importing libraries from sklearn
from sklearn import tree
#from sklearn.datasets import make_classification
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler#,Imputer
from sklearn import metrics
#colours = sns.set_palette('pastel')

In [11]:
# import algorithm modules
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier, BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

In [13]:
seed = 7

In [14]:
#K Neighbors Classifier
# algorithm = ‘auto’, ‘ball_tree’, ‘kd_tree’, ‘brute’
def kNeighbors(x,y):
    model = KNeighborsClassifier(algorithm = 'auto',
                                 leaf_size=30,
                                 metric='minkowski',
                                 metric_params=None,
                                 n_jobs=1,
                                 n_neighbors=5,
                                 p=2,
                                 weights='uniform')
    model.fit(x, y)
    return model
    
knn = kNeighbors(X_train, y_train)

In [15]:
#Random Forest Regression
def forestRegression_1(x,y):
    model = RandomForestClassifier(n_estimators = 100,
                                   min_samples_leaf = 5,
                                   min_samples_split = 12,
                                   random_state = 0,
                                   max_depth = 80)
    model.fit(x, y)
    return model
    
rf1 = forestRegression_1(X_train, y_train)

In [16]:
# Bagged Decision Trees for Classification - necessary dependencies
def baggedTree(x,y,seed):
    model = BaggingClassifier(base_estimator=rf1,
                              n_estimators=10,
                              random_state=seed)
    model.fit(x, y)
    return model

bag = baggedTree(X_train, y_train,seed)

# AdaBoost Classification
def adaBoost(x,y,seed):
    model = AdaBoostClassifier(n_estimators=70,
                               random_state=seed,
                               algorithm='SAMME')
    model.fit(x, y)
    return model
    
ada = adaBoost(X_train, y_train,seed)

# Voting Ensemble for Classification
def ensembleClassifier(x,y):
    # create the sub models
    estimators = []
    estimators.append(('rf1', rf1))
    estimators.append(('knn', knn))
    estimators.append(('bag', bag))

    # create the ensemble model
    model = VotingClassifier(estimators,voting='soft',weights=[0.83,0.79,0.82])
    model.fit(x,y)
    return model

ens = ensembleClassifier(X_train, y_train)

In [17]:
def check(a,b):
    if a == b:
        result = '<'
    else:
        result = '-'
    return result

In [21]:
print('rf1',rf1.score(X_train, y_train))
print('ens',ens.score(X_train, y_train))
print('bag',bag.score(X_train, y_train))
print('knn',knn.score(X_train, y_train))
print('ada',ada.score(X_train, y_train))

rf1 0.49561053471668
ens 0.48151104017025803
bag 0.4926842245278
knn 0.42910348496940676
ada 0.46714551742484706

In [67]:
def print_pred_results(model,result,num):
    print('model : ', result, check(result,y_test.loc[num]))

def predictionTest(num,model1,model2,model3):
    p = X_test.loc[num].tolist()
    result1 = model1.predict([p]).flatten()
    result2 = model2.predict([p]).flatten()
    result3 = model3.predict([p]).flatten()
    print('\nActual       : ',y_test.loc[num])
    print_pred_results(model1,result1,num)
    print_pred_results(model2,result2,num)
    print_pred_results(model3,result3,num)

In [51]:
numbers = X_test.index
random_nums = random.choices(numbers, k=20)

for i in random_nums:
    predictionTest(i,rf1,ada,bag)

In [68]:
def cycle_prob_test(num,model):
    p = X_test.loc[num].tolist()
    e = model.predict_proba([p]).flatten()
    return e.tolist()

def cycle_pred_test(num,model):
    p = X_test.loc[num].tolist()
    e = model.predict([p]).flatten()
    if e == y_test.loc[num]:
        a = 1
    else:
        a = 0
    return a

def model_pred_test(model):
    b = []
    prob = []
    numbers = X_test.index
    random_nums = random.choices(numbers, k=100)
    for i in random_nums:
        b.append(cycle_pred_test(i,model))
        prob.append(cycle_prob_test(i,model))
    dz = pd.DataFrame(b)
    df = pd.DataFrame(prob)
    c = str(float(dz.sum().values / 100))
    print('score :',c)

In [74]:
model_pred_test(knn)

score : 0.37

In [75]:
model_pred_test(ada)

score : 0.44

In [76]:
model_pred_test(bag)

score : 0.43

In [77]:
model_pred_test(rf1)

score : 0.46

In [78]:
model_pred_test(ens)

score : 0.33

In [31]:
import pickle
filename = 'models/cpl_roster_classifier.sav'
pickle.dump(rf1, open(filename, 'wb'))

In [32]:
cpl_classifier_model = pickle.load(open(filename, 'rb'))

In [33]:
#model_pred_test(cpl_classifier_model)

In [35]:
year = '2020'
team_ref = pd.read_csv('datasets/teams.csv')
results = pd.read_csv(f'datasets/{year}/cpl-{year}-results.csv')
stats = pd.read_csv(f'datasets/{year}/cpl-{year}-stats.csv')
player_info = pd.read_csv(f'datasets/{year}/player-{year}-info.csv')
results_brief = pd.read_csv(f'datasets/{year}/cpl-{year}-results_brief.csv')
team_stats = pd.read_csv(f'datasets/{year}/cpl-{year}-team_stats.csv')
schedule = pd.read_csv(f'datasets/{year}/cpl-{year}-schedule.csv')
rated_forwards = pd.read_csv(f'datasets/{year}/cpl-{year}-forwards.csv')
rated_midfielders = pd.read_csv(f'datasets/{year}/cpl-{year}-midfielders.csv')
rated_defenders = pd.read_csv(f'datasets/{year}/cpl-{year}-defenders.csv')
rated_keepers = pd.read_csv(f'datasets/{year}/cpl-{year}-keepers.csv')

In [36]:
# home side
q1 = schedule.iloc[3]['home']
# away side
q2 = schedule.iloc[3]['away']
print(q1,q2)

Valour FC Atletico Ottawa

In [37]:
compare = cpl.get_team_comparison(results_brief,q1,q2)

In [38]:
t1_x, t1_y = cpl.get_NB_data(compare,q1)
t2_x, t2_y = cpl.get_NB_data(compare,q2)

In [39]:
game_info = schedule[schedule['home'] == q1]
game_info = game_info[game_info['away'] == q2]
game_info

  game       home             away
3  II4  Valour FC  Atletico Ottawa

In [40]:
game = game_info.iloc[0]['game']
game_h = cpl.get_home_away_comparison(stats,game,q1)
game_a = cpl.get_home_away_comparison(stats,game,q2)

In [41]:
h1_roster = cpl.get_compare_roster(results,q1,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,player_info)
h2_roster = cpl.get_compare_roster(results,q2,team_stats,team_ref,rated_forwards,rated_midfielders,rated_defenders,rated_keepers,player_info)

/home/todd/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [42]:
def get_overall_roster(game_roster):
    b = []
    for i in range(game_roster.shape[0]):
        b.append(game_roster.iloc[i]['overall']) # get the player overall score for each player in the game
    if len(b) < 16:
        i = int(16 - len(b))
        for j in range(0,i):
            b.append(0)
    db = pd.DataFrame(b[0:14])
    db = db.T
    return db

In [43]:
q1_roster = get_overall_roster(h1_roster)
q1_roster

      0     1     2    3    4     5     6     7     8    9    10 11 12 13
0  0.55  0.45  0.21  0.0  0.0  0.41  0.35  0.33  0.16  0.3  0.05  0  0  0

In [44]:
q2_roster = get_overall_roster(h2_roster)
q2_roster

     0    1    2     3     4     5    6    7  8  9 10 11 12 13
0  0.0  0.0  0.0  0.69  0.35  0.22  0.0  0.0  0  0  0  0  0  0

In [45]:
def roster_pred(model,array):
    prediction = model.predict_proba([array]).flatten()
    df = pd.DataFrame(prediction)
    #print('score :',prediction)
    return df

In [46]:
home_win, draw, away_win = cpl.get_match_prediction(q1,q2,t1_x,t1_y,t2_x,t2_y)

In [47]:
home_win_new, away_win_new, draw_new = cpl.get_final_game_prediction(cpl_classifier_model,q1_roster,q2_roster,home_win,away_win,draw)

In [48]:
print(q1,'\nwin probability: ', round(home_win_new,2))

Valour FC
win probability:  0.39

In [49]:
print(q2,'\nwin probability: ', round(away_win_new,2))

Atletico Ottawa
win probability:  0.31

In [50]:
print('Draw probability: ', round(draw_new,2))

Draw probability:  0.3

def get_final_game_prediction(model,q1_roster,q2_roster,home_win,away_win,draw):
    q1_prediction = roster_pred(model,q1_roster)
    q1_p = round(q1_prediction.iloc[2][0],2)
    q2_prediction = roster_pred(model,q2_roster)
    q2_p = round(q2_prediction.iloc[2][0],2)
    q_draw = (q1_prediction.iloc[1][0] + q2_prediction.iloc[2][0]) / 2
    total_ = q1_p + home_win + q2_p + away_win + q_draw + draw
    h_w = round((q1_p + home_win) / total_, 2)
    a_w = round((q2_p + away_win) / total_, 2)
    g_d = round((q_draw + draw) / total_, 2)
    return h_w, a_w, g_d

In [51]:
q1_prediction = roster_pred(cpl_classifier_model,q1_roster)

In [52]:
q2_prediction = roster_pred(cpl_classifier_model,q2_roster)

In [53]:
q_draw = (q1_prediction.iloc[1][0] + q2_prediction.iloc[2][0]) /2
q_draw

0.2608017578417838

In [54]:
q1_p = round(q1_prediction.iloc[2][0],2)

In [55]:
q2_p = round(q2_prediction.iloc[2][0],2)

In [56]:
if q1_p > q2_p:
    print(q1,'predicted to win ',q1_p)
elif q2_p > q1_p:
    print(q2,'predicted to win ',q2_p)
else:
    print('A Draw is predicted ',q1_p,' ',q2_p)

Valour FC predicted to win  0.43

In [57]:
total_ = q1_p + home_win + q2_p + away_win + q_draw + draw

In [58]:
round((q1_p + home_win) / total_, 2)

0.39

In [59]:
round((q2_p + away_win) / total_, 2)

0.31

In [60]:
round((q_draw + draw) / total_, 2)

0.3

In [62]:
def get_final_game_prediction(model,q1_roster,q2_roster,home_win,away_win,draw):
    q1_prediction = roster_pred(model,q1_roster)
    q1_p = round(q1_prediction.iloc[2][0],2)
    q2_prediction = roster_pred(model,q2_roster)
    q2_p = round(q2_prediction.iloc[2][0],2)
    q_draw = (q1_prediction.iloc[1][0] + q2_prediction.iloc[2][0]) / 2
    total_ = q1_p + home_win + q2_p + away_win + q_draw + draw
    h_w = round((q1_p + home_win) / total_, 2)
    a_w = round((q2_p + away_win) / total_, 2)
    g_d = round((q_draw + draw) / total_, 2)
    return h_w, a_w, g_d

In [63]:
home_win_new, away_win_new, draw_new = get_final_game_prediction(cpl_classifier_model,q1_roster,q2_roster,home_win,away_win,draw)

In [64]:
home_win_new

0.39

In [65]:
away_win_new

0.31

In [66]:
draw_new

0.3